# mkdocs.yml
site_name: FastFuels SDK Documentation

theme:
  name: "material"
  features:
    - content.code.copy

nav:
  - Home: index.md
  - How-To Guides:
    - Authentication: guides/authentication.md
    - Domains: guides/domains.md
    - Inventories: guides/inventories.md
    - Features: guides/features.md
    - Grids: guides/grids.md
  - Tutorials:
    - Export to QUIC-Fire: tutorials/export_to_quicfire.md

  - Reference: reference.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            docstring_section_style: table
            docstring_options:
              ignore_init_summary: true
            show_root_heading: true
            show_source: false
            members_order: source
            annotations_path: brief
            separate_signature: true
            show_signature_annotations: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
