{"openapi":"3.1.0","info":{"title":"FastFuels API","description":"A JSON API for creating, editing, and retrieving 3D fuels data for next generation fire behavior models.","version":"0.1.0"},"servers":[{"url":"https://api.fastfuels.silvxlabs.com"}],"paths":{"/":{"get":{"tags":["Index"],"summary":"Index","operationId":"index","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/cookies":{"get":{"tags":["Cookies"],"summary":"Create session cookie","description":"Create a session cookie for authentication","operationId":"get_cookie","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}},"delete":{"tags":["Cookies"],"summary":"Delete session cookie","description":"Remove session cookie for logout","operationId":"delete_cookie","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/keys":{"post":{"tags":["API Keys"],"summary":"Create API key","description":"Create a new API key for authentication","operationId":"create_key","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKeyRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Key"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["API Keys"],"summary":"List API keys","description":"Get paginated list of accessible API keys","operationId":"list_keys","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Page"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":100,"title":"Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListKeysResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/keys/{keyId}":{"get":{"tags":["API Keys"],"summary":"Get API key","description":"Get API key details by ID","operationId":"get_key_by_id","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"string","title":"Keyid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Key"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["API Keys"],"summary":"Delete API key","description":"Permanently delete an API key by ID","operationId":"delete_key","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"string","title":"Keyid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/applications":{"post":{"tags":["Applications"],"summary":"Create application","description":"Create a new application for API access","operationId":"create_application","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Applications"],"summary":"List applications","description":"Get paginated list of user's applications","operationId":"list_applications","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Page"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":100,"title":"Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListApplicationsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/applications/{applicationId}":{"get":{"tags":["Applications"],"summary":"Get application","description":"Get application details by ID","operationId":"get_application","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","title":"Applicationid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Applications"],"summary":"Update application","description":"Update application details","operationId":"update_application","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","title":"Applicationid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Applications"],"summary":"Delete application","description":"Delete an application by ID","operationId":"delete_application","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","title":"Applicationid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains":{"post":{"tags":["Domains"],"summary":"Create Domain","description":"# Create Domain Endpoint\n\nThis endpoint creates a new domain resource based on a spatial extent and additional details provided by the user. The domain resource acts as the spatial container for all other resources that create data within the system.\n\n## What is a Domain Resource?\n\nA domain resource is a spatial container that represents a specific geographical area. It includes metadata such as the name, description, creation date, and the spatial extent defined by geographic coordinates. Domains are used to organize and manage spatial data and operations within a defined area. The data can be vectorized, such as holding features or trees in an inventory, or rasterized, such as a 3D canopy fuel grid or a Digital Elevation Model (DEM).\n\n## Endpoint: `POST /domains`\n\n### Request Body\n\nThe request body should be a GeoJSON object defined by the [GeoJSON specification (RFC 7946)](https://datatracker.ietf.org/doc/html/rfc7946). It can be either a Feature or a FeatureCollection. The required fields differ slightly between these two types, but there are some shared fields as well.\n\n#### Shared Fields\n\nThese fields are required for both Feature and FeatureCollection inputs:\n\n- **type**: (string) Must be either \"Feature\" or \"FeatureCollection\".\n- **name**: (string, optional) The name of the domain.\n- **description**: (string, optional) A brief description of the domain.\n- **horizontalResolution**: (float) The horizontal resolution in meters of a regular grid representation of the domain.\n- **verticalResolution**: (float) The vertical resolution in meters of a regular grid representation of the domain.\n- **crs**: (GeoJsonCRS) The GeoJSON specification formatted coordinate reference system (CRS) of the domain.\n  - **type**: (string) Must be \"name\".\n  - **properties**: (object) The properties object containing the CRS details.\n    - **name**: (string) The name of the CRS, e.g., \"EPSG:4326\". Must be either 'local' or a valid authority string.\n\n#### Feature-specific Fields\n\nWhen the input type is \"Feature\", the following additional field is required:\n\n- **geometry**: (GeoJSON Geometry object) A GeoJSON geometry object defining the spatial location of the domain.\n  - **type**: (string) Must be a valid GeoJSON type, e.g., \"Polygon\".\n  - **coordinates**: (array) An array of coordinates defining the geometry.\n\n#### FeatureCollection-specific Fields\n\nWhen the input type is \"FeatureCollection\", the following additional field is required:\n\n- **features**: (array of Feature objects) An array of Feature objects. Each Feature object should have:\n  - **type**: (string) Must be \"Feature\".\n  - **geometry**: (GeoJSON Geometry object) As described in the Feature-specific fields.\n\n### Response\n\nOn successful creation, the endpoint returns the newly created domain resource with the following fields:\n\n- **id**: (string) A unique identifier for the domain.\n- **name**: (string) The name of the domain.\n- **description**: (string) A brief description of the domain.\n- **createdOn**: (datetime) The date and time the domain was created.\n- **modifiedOn**: (datetime) The date and time the domain was last modified.\n- **type**: (string) Will be \"FeatureCollection\".\n- **features**: (array) An array of two Feature objects:\n  1. The domain feature (padded bounding box):\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the padded spatial extent of the domain.\n     - **properties**: (object) Additional properties of the domain feature.\n       - **name**: (string) Will be \"domain\".\n       - **area**: (float) The area of the domain in square meters.\n       - **perimeter**: (float) The perimeter of the domain in meters.\n  2. The input feature:\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the original input geometry.\n     - **properties**: (object) Additional properties of the input feature.\n       - **name**: (string) Will be \"input\".\n       - **area**: (float) The area of the input geometry in square meters.\n       - **perimeter**: (float) The perimeter of the input geometry in meters.\n- **horizontalResolution**: (float) The horizontal resolution of the domain.\n- **verticalResolution**: (float) The vertical resolution of the domain.\n- **crs**: (GeoJsonCRS) The coordinate reference system of the domain.\n- **utmAuthorityString**: (string, optional) The UTM authority string if the input was projected to UTM.\n\n### Processing from Request to Response\n\nThe system performs several processing steps to convert the Request Body into the Response Body:\n\n1. **CRS Handling and Projection**:\n   - If the input CRS is geographic (e.g., EPSG:4326), the geometry is automatically projected to the appropriate UTM zone.\n   - If the input CRS is already projected, the domain will keep that CRS.\n   - If the input CRS is 'local', the spatial data is assumed to be NOT geo-referenced, and no projection is performed.\n\n2. **Bounding Box Calculation**:\n   - The system calculates the bounding box of the input geometry (or the combined geometries for a FeatureCollection).\n\n3. **Resolution-based Padding**:\n   - The bounding box is padded out to the nearest multiple of the user-provided horizontal resolution.\n\n4. **FeatureCollection Creation**:\n   - The system creates a FeatureCollection with two features: the padded bounding box (domain) and the original input geometry.\n\nThese steps ensure that the domain's extent is regularized, aligned with the specified resolution, and in a suitable projected coordinate system (when applicable), which allows for subsequent grid-based operations.\n\n### Important Notes\n\n1. **Projection**: The domain will always be stored in a projected coordinate system if the input is geographic. This ensures consistency and accuracy for spatial operations within the domain.\n\n2. **UTM Zone Selection**: When projecting from a geographic CRS, the system automatically selects the appropriate UTM zone based on the centroid of the input geometry.\n\n3. **FeatureCollection Handling**: When a FeatureCollection is provided as input, the domain will be created based on the combined extent of all features in the collection.\n\n4. **Zero Area Handling**: If the spatial extent has zero area (e.g., a point or line), the endpoint will raise an error.\n\n5. **Resolution Alignment**: The spatial extent is padded out to the nearest multiple of horizontal and vertical resolution (in meters) to ensure grid alignment.\n\n6. **Maximum Area**: Currently, the maximum area for a domain is 16 square kilometers. We are planning to increase this limit in the future. If this limitation is an issue for your use case, please contact us for assistance.\n\n7. **CRS Preservation**: If you provide data in a specific projected CRS, that CRS will be preserved in the domain. This is useful for maintaining consistency with existing data sources or specific regional requirements.\n\n### Error Responses\n\n- **422 Unprocessable Entity**: The spatial extent is invalid.\n  - **Detail**: \"Invalid spatial extent. The area of the spatial extent must be greater than zero meters.\"\n  - **Detail**: \"Invalid spatial extent. The area of the spatial extent must be less than sixteen square kilometers.\"\n- **500 Internal Server Error**: An error occurred while creating the domain resource.","operationId":"create_domain","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDomainRequest"},"examples":{"feature collection WGS84":{"value":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"coordinates":[[[-114.09545796676623,46.8324794598619],[-114.11217537297199,46.8324794598619],[-114.11217537297199,46.82496749915157],[-114.09545796676623,46.82496749915157],[-114.09545796676623,46.8324794598619]]],"type":"Polygon"}}],"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1},"summary":"Example WGS84 FeatureCollection","description":"This example creates a domain from a FeatureCollection GeoJSON object. The GeoJSON represents an approximately 1 square kilometer area in the Blue Mountain Recreation Area outside of Missoula, Montana. The CRS of the FeatureCollection is not provided so it is assumed to be 'EPSG:4326'."},"feature collection EPSG:5070":{"value":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[-1377797.8087433458,2780720.35945401],[-1379055.2389321132,2780962.840146559],[-1379212.7978295316,2780146.1745799617],[-1377955.2239776908,2779903.6661836714],[-1377797.8087433458,2780720.35945401]]]}}],"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"EPSG:5070"},"type":"name"}},"summary":"Example EPSG:5070 FeatureCollection","description":"This example creates a domain from a FeatureCollection GeoJSON object with a CRS of 'EPSG:5070'. Note that the CRS is explicitly set in the GeoJSON object. Because the CRS is a projected coordinate system, FastFuels uses the provided CRS for the domain instead of reprojecting."},"feature UTM":{"value":{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[721502.7544906491,5190645.048516054],[720227.9398802927,5190598.00908098],[720258.6480286171,5189763.323999467],[721533.6406826023,5189810.364218195],[721502.7544906491,5190645.048516054]]]},"crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:EPSG::32611"}},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1},"summary":"Example UTM Feature","description":"This example creates a domain from a polygon feature GeoJSON object with UTM coordinates."},"feature local":{"value":{"type":"Feature","geometry":{"coordinates":[[[0,0],[0,100],[100,100],[100,0],[0,0]]],"type":"Polygon"},"properties":{},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"local"},"type":"name"}},"summary":"Example Local Feature","description":"Example of a domain with spatial data in a local coordinate system (with meter units). The crs field is set to 'local' to indicate that the coordinates are in a local coordinate system."},"feature 3DEP":{"value":{"type":"Feature","geometry":{"coordinates":[[[-114.19991252294375,46.7747518267752],[-114.19991252294375,46.77023218168779],[-114.19133479742844,46.77023218168779],[-114.19133479742844,46.7747518267752],[-114.19991252294375,46.7747518267752]]],"type":"Polygon"},"properties":{},"name":"3DEP Example","description":"Small 3DEP example domain behind blue mountain","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"EPSG:4326"},"type":"name"}},"summary":"Example 3DEP Feature","description":"Example of a domain with spatial data from the 3DEP point cloud resource."}}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Domains"],"summary":"List Domains","description":"# List Domains Endpoint\n\nThis endpoint retrieves a paginated list of domain resources based on the\nquery parameters provided by the user.\n\n## Endpoint: `GET /domains`\n\n### Query Parameters\n\nTo retrieve a list of domains, the following query parameters can be used:\n\n- **page**: (integer, optional) The page number to retrieve. Page number is zero-indexed. Default is 0.\n- **size**: (integer, optional) The number of resources to retrieve per page. Minimum is 1 and maximum is 1000. Default is 100.\n- **sortBy**: (string, optional) The field by which to sort the domains. Valid values are:\n  - \"createdOn\"\n  - \"modifiedOn\"\n  - \"name\"\n- **sortOrder**: (string, optional) The order in which to sort the results. Valid values are:\n  - \"ascending\"\n  - \"descending\"\n\n### Response\n\nThe response is a paginated list of domain resources, including metadata about the current page and the size of each page.\n\n- **domains**: (array) A list of Domain objects.\n- **currentPage**: (integer) The current page number.\n- **pageSize**: (integer) The number of domains per page.\n- **totalItems**: (integer) The total number of domain resources that belong to the user.\n\nEach Domain object in the list follows the Domain schema.\n\n### Example Request\n\n```http\nGET /domains?page=0&size=10&sortBy=createdOn&sortOrder=ascending\n```\n\n### Important Notes\n\n1. The `page` parameter is zero-indexed, meaning that the first page is `0`.\n2. The `size` parameter determines the number of domains returned per page, with a minimum of 1 and a maximum of 1000.\n3. The `sortBy` parameter allows sorting by specific fields, and the `sortOrder` parameter determines the order of sorting (ascending or descending).\n\n### Error Responses\n\n- **422 Unprocessable Entity**: Invalid query parameters.\n  - **Detail**: \"Invalid value for query parameter 'page'. Must be a non-negative integer.\"\n  - **Detail**: \"Invalid value for query parameter 'size'. Must be an integer between 1 and 1000.\"\n- **500 Internal Server Error**: An error occurred while listing the domain resources.","operationId":"list_domains","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"The page number to retrieve. Page number is zero-indexed.","default":0,"title":"Page"},"description":"The page number to retrieve. Page number is zero-indexed."},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"The number of resources to retrieve per page.","default":100,"title":"Size"},"description":"The number of resources to retrieve per page."},{"name":"sortBy","in":"query","required":false,"schema":{"$ref":"#/components/schemas/DomainSortField"}},{"name":"sortOrder","in":"query","required":false,"schema":{"$ref":"#/components/schemas/DomainSortOrder"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListDomainResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}":{"get":{"tags":["Domains"],"summary":"Get Domain","description":"# Get Domain Endpoint\n\nThis endpoint retrieves a specific domain resource based on the provided domain ID.\n\n## Endpoint: `GET /domains/{domainId}`\n\n### Path Parameters\n\nTo retrieve a specific domain, the following path parameter is required:\n\n- **domainId**: (string) The unique identifier of the domain to retrieve.\n\n### Response\n\nThe response returns the details of the requested domain resource, including its metadata and spatial information.\n\n- **id**: (string) A unique identifier for the domain.\n- **name**: (string) The name of the domain.\n- **description**: (string) A brief description of the domain.\n- **createdOn**: (datetime) The date and time the domain was created.\n- **modifiedOn**: (datetime) The date and time the domain was last modified.\n- **type**: (string) Always \"FeatureCollection\".\n- **features**: (array) An array of two Feature objects:\n  1. The domain feature (padded bounding box):\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the padded spatial extent of the domain.\n     - **properties**: (object) Additional properties of the domain feature.\n       - **name**: (string) Will be \"domain\".\n       - **area**: (float) The area of the domain in square meters.\n       - **perimeter**: (float) The perimeter of the domain in meters.\n  2. The input feature:\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the original input geometry.\n     - **properties**: (object) Additional properties of the input feature.\n       - **name**: (string) Will be \"input\".\n       - **area**: (float) The area of the input geometry in square meters.\n       - **perimeter**: (float) The perimeter of the input geometry in meters.\n- **horizontalResolution**: (float) The horizontal resolution of the domain in meters.\n- **verticalResolution**: (float) The vertical resolution of the domain in meters.\n- **crs**: (GeoJsonCRS) The coordinate reference system of the domain.\n- **utmAuthorityString**: (string, optional) The UTM authority string if the input was projected to UTM.\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Resource not found.\"\n- **500 Internal Server Error**: An error occurred while retrieving the domain resource.\n  - **Detail**: \"An error occurred while getting the domain resource.\"","operationId":"get_domain","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Domains"],"summary":"Update Domain","description":"# Update Domain Endpoint\n\nThis endpoint updates an existing domain resource based on the provided domain ID and request body. Users can modify specific fields of the domain, while other fields remain unchanged.\n\n## Endpoint: `PATCH /domains/{domainId}`\n\n### Path Parameters\n\nTo update a specific domain, the following path parameter is required:\n\n- **domainId**: (string) The unique identifier of the domain to update.\n\n### Request Body\n\nTo update a domain, the request body should include one or more of the following fields:\n\n- **name**: (string, optional) The name of the domain.\n- **description**: (string, optional) A brief description of the domain.\n- **tags**: (array of strings, optional) A list of tags associated with the domain.\n\n### Fields that Can Be Updated\n\n- **name**: The name of the domain.\n- **description**: A brief description of the domain.\n- **tags**: The list of tags associated with the domain.\n\n### Fields that Cannot Be Updated\n\nThe following fields cannot be updated. If you wish to change these fields, you need to create a new domain resource with the desired values:\n\n- **id**: The unique identifier for the domain.\n- **createdOn**: The date and time the domain was created.\n- **type**: Always \"FeatureCollection\".\n- **features**: The FeatureCollection containing the domain and input geometries.\n- **horizontalResolution**: The horizontal resolution of the domain.\n- **verticalResolution**: The vertical resolution of the domain.\n- **crs**: The coordinate reference system of the domain.\n- **utmAuthorityString**: The UTM authority string of the domain.\n\n### Response\n\nThe response returns the updated domain resource with the following fields:\n\n- **id**: (string) A unique identifier for the domain.\n- **name**: (string) The name of the domain.\n- **description**: (string) A brief description of the domain.\n- **createdOn**: (datetime) The date and time the domain was created.\n- **modifiedOn**: (datetime) The date and time the domain was last modified.\n- **type**: (string) Always \"FeatureCollection\".\n- **features**: (array) An array of two Feature objects:\n  1. The domain feature (padded bounding box):\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the padded spatial extent of the domain.\n     - **properties**: (object) Additional properties of the domain feature.\n       - **name**: (string) Will be \"domain\".\n       - **area**: (float) The area of the domain in square meters.\n       - **perimeter**: (float) The perimeter of the domain in meters.\n  2. The input feature:\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the original input geometry.\n     - **properties**: (object) Additional properties of the input feature.\n       - **name**: (string) Will be \"input\".\n       - **area**: (float) The area of the input geometry in square meters.\n       - **perimeter**: (float) The perimeter of the input geometry in meters.\n- **horizontalResolution**: (float) The horizontal resolution of the domain.\n- **verticalResolution**: (float) The vertical resolution of the domain.\n- **crs**: (GeoJsonCRS) The coordinate reference system of the domain.\n- **utmAuthorityString**: (string, optional) The UTM authority string if the input was projected to UTM.\n- **tags**: (array of strings) A list of tags associated with the domain.\n\n### Important Notes\n\n1. Only the **name**, **description**, and **tags** fields can be updated. If you wish to change any other fields (such as features, horizontalResolution, verticalResolution, crs, etc.), you must create a new domain resource with the desired values.\n2. The **modifiedOn** field will be automatically updated to the current date and time whenever any updatable field is changed.\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Resource not found.\"\n- **500 Internal Server Error**: An error occurred while updating the domain resource.\n  - **Detail**: \"An error occurred while updating the domain resource.\"","operationId":"update_domain","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDomainRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Domains"],"summary":"Delete Domain","description":"# Delete Domain Endpoint\n\nThis endpoint deletes an existing domain resource based on the provided domain ID.\n\n## Endpoint: `DELETE /domains/{domainId}`\n\n### Path Parameters\n\nTo delete a specific domain, the following path parameter is required:\n\n- **domainId**: (string) The unique identifier of the domain to delete.\n\n### Response\n\nThe response does not return any content on a successful deletion and will have a status code of 204 No Content.\n\n### Example Request\n\n```http\nDELETE /domains/1e7d8d3c9f8b4c3ba9e7c3b4f8d7a9c1\n```\n\n### Example Response\n\n```\nHTTP/1.1 204 No Content\n```\n\n### Important Notes\n\n1. Deleting a domain is a permanent action and cannot be undone. Once a domain is deleted, it is removed from the database and cannot be recovered.\n2. Ensure that you have the correct domain ID before making the delete request to avoid accidentally deleting the wrong domain.\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Resource not found.\"\n- **500 Internal Server Error**: An error occurred while deleting the domain resource.\n  - **Detail**: \"An error occurred while deleting the domain resource.\"\n\n### Example Error Response\n\n```json\n{\n  \"detail\": \"Resource not found.\"\n}\n```\n\n### Example Internal Server Error Response\n\n```json\n{\n  \"detail\": \"An error occurred while deleting the domain resource.\"\n}\n```","operationId":"delete_domain","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/preview":{"post":{"tags":["Domains"],"summary":"Preview Domain","description":"# Preview Domain Endpoint\n\nThis endpoint processes a CreateDomainRequest and returns a Domain object without saving the data to the database. It allows users to preview what their domain will look like before actually creating it.\n\n## Endpoint: `POST /domains/preview`\n\n### Request Body\n\nThe request body should be a GeoJSON object defined by the [GeoJSON specification (RFC 7946)](https://datatracker.ietf.org/doc/html/rfc7946). It can be either a Feature or a FeatureCollection. The structure is identical to the Create Domain endpoint's request body.\n\n#### Shared Fields\n\n- **type**: (string) Must be either \"Feature\" or \"FeatureCollection\".\n- **name**: (string, optional) The name of the domain.\n- **description**: (string, optional) A brief description of the domain.\n- **horizontalResolution**: (float) The horizontal resolution in meters of a regular grid representation of the domain.\n- **verticalResolution**: (float) The vertical resolution in meters of a regular grid representation of the domain.\n- **crs**: (GeoJsonCRS) The GeoJSON specification formatted coordinate reference system (CRS) of the domain.\n  - **type**: (string) Must be \"name\".\n  - **properties**: (object) The properties object containing the CRS details.\n    - **name**: (string) The name of the CRS, e.g., \"EPSG:4326\". Must be either 'local' or a valid authority string.\n- **tags**: (array of strings, optional) A list of tags associated with the domain.\n\n#### Feature-specific Fields\n\nWhen the input type is \"Feature\", the following additional field is required:\n\n- **geometry**: (GeoJSON Geometry object) A GeoJSON geometry object defining the spatial location of the domain.\n  - **type**: (string) Must be a valid GeoJSON type, e.g., \"Polygon\".\n  - **coordinates**: (array) An array of coordinates defining the geometry.\n\n#### FeatureCollection-specific Fields\n\nWhen the input type is \"FeatureCollection\", the following additional field is required:\n\n- **features**: (array of Feature objects) An array of Feature objects. Each Feature object should have:\n  - **type**: (string) Must be \"Feature\".\n  - **geometry**: (GeoJSON Geometry object) As described in the Feature-specific fields.\n\n### Response\n\nThe response returns a preview of the domain resource with the following fields:\n\n- **id**: (string) Will always be \"preview\" for this endpoint.\n- **name**: (string) The name of the domain.\n- **description**: (string) A brief description of the domain.\n- **createdOn**: (datetime) The current date and time.\n- **modifiedOn**: (datetime) The current date and time.\n- **type**: (string) Always \"FeatureCollection\".\n- **features**: (array) An array of two Feature objects:\n  1. The domain feature (padded bounding box):\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the padded spatial extent of the domain.\n     - **properties**: (object) Additional properties of the domain feature.\n       - **name**: (string) Will be \"domain\".\n       - **area**: (float) The area of the domain in square meters.\n       - **perimeter**: (float) The perimeter of the domain in meters.\n  2. The input feature:\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the original input geometry.\n     - **properties**: (object) Additional properties of the input feature.\n       - **name**: (string) Will be \"input\".\n       - **area**: (float) The area of the input geometry in square meters.\n       - **perimeter**: (float) The perimeter of the input geometry in meters.\n- **horizontalResolution**: (float) The horizontal resolution of the domain.\n- **verticalResolution**: (float) The vertical resolution of the domain.\n- **crs**: (GeoJsonCRS) The coordinate reference system of the domain.\n- **utmAuthorityString**: (string, optional) The UTM authority string if the input was projected to UTM.\n- **tags**: (array of strings) A list of tags associated with the domain.\n\n### Processing\n\nThe preview endpoint performs the same processing steps as the create endpoint:\n\n1. **CRS Handling and Projection**: Projects the geometry to UTM if necessary.\n2. **Bounding Box Calculation**: Calculates the bounding box of the input geometry.\n3. **Resolution-based Padding**: Pads the bounding box to align with the specified resolution.\n4. **FeatureCollection Creation**: Creates a FeatureCollection with the padded domain and original input geometries.\n\n### Important Notes\n\n1. This endpoint does not save any data to the database. It's purely for preview purposes.\n2. The `id` field will always be \"preview\" in the response.\n3. The `createdOn` and `modifiedOn` fields will be set to the current time but are not persisted.\n4. All the same validations and checks applied in the create endpoint are also applied here, including area limitations and CONUS checks.\n\n### Error Responses\n\n- **422 Unprocessable Entity**: The spatial extent is invalid.\n  - **Detail**: \"Invalid spatial extent. The area of the spatial extent must be greater than zero meters.\"\n  - **Detail**: \"Invalid spatial extent. The area of the spatial extent must be less than sixteen square kilometers.\"\n  - **Detail**: \"Invalid spatial extent. The spatial extent must be entirely within CONUS.\"\n- **500 Internal Server Error**: An error occurred while previewing the domain resource.\n  - **Detail**: \"An error occurred while previewing the domain resource.\"","operationId":"preview_domain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDomainRequest"},"examples":{"feature collection WGS84":{"summary":"Example WGS84 FeatureCollection","description":"This example creates a domain from a FeatureCollection GeoJSON object. The GeoJSON represents an approximately 1 square kilometer area in the Blue Mountain Recreation Area outside of Missoula, Montana. The CRS of the FeatureCollection is not provided so it is assumed to be 'EPSG:4326'.","value":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"coordinates":[[[-114.09545796676623,46.8324794598619],[-114.11217537297199,46.8324794598619],[-114.11217537297199,46.82496749915157],[-114.09545796676623,46.82496749915157],[-114.09545796676623,46.8324794598619]]],"type":"Polygon"}}],"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1}},"feature collection EPSG:5070":{"summary":"Example EPSG:5070 FeatureCollection","description":"This example creates a domain from a FeatureCollection GeoJSON object with a CRS of 'EPSG:5070'. Note that the CRS is explicitly set in the GeoJSON object. Because the CRS is a projected coordinate system, FastFuels uses the provided CRS for the domain instead of reprojecting.","value":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[-1377797.8087433458,2780720.35945401],[-1379055.2389321132,2780962.840146559],[-1379212.7978295316,2780146.1745799617],[-1377955.2239776908,2779903.6661836714],[-1377797.8087433458,2780720.35945401]]]}}],"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"EPSG:5070"},"type":"name"}}},"feature UTM":{"summary":"Example UTM Feature","description":"This example creates a domain from a polygon feature GeoJSON object with UTM coordinates.","value":{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[721502.7544906491,5190645.048516054],[720227.9398802927,5190598.00908098],[720258.6480286171,5189763.323999467],[721533.6406826023,5189810.364218195],[721502.7544906491,5190645.048516054]]]},"crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:EPSG::32611"}},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1}},"feature local":{"summary":"Example Local Feature","description":"Example of a domain with spatial data in a local coordinate system (with meter units). The crs field is set to 'local' to indicate that the coordinates are in a local coordinate system.","value":{"type":"Feature","geometry":{"coordinates":[[[0,0],[0,100],[100,100],[100,0],[0,0]]],"type":"Polygon"},"properties":{},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"local"},"type":"name"}}},"feature 3DEP":{"summary":"Example 3DEP Feature","description":"Example of a domain with spatial data from the 3DEP point cloud resource.","value":{"type":"Feature","geometry":{"coordinates":[[[-114.19991252294375,46.7747518267752],[-114.19991252294375,46.77023218168779],[-114.19133479742844,46.77023218168779],[-114.19133479742844,46.7747518267752],[-114.19991252294375,46.7747518267752]]],"type":"Polygon"},"properties":{},"name":"3DEP Example","description":"Small 3DEP example domain behind blue mountain","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"EPSG:4326"},"type":"name"}}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}]}},"/v1/domains/reproject":{"post":{"tags":["Domains"],"summary":"Reproject Geojson","description":"# Reproject GeoJSON Endpoint\n\nThis endpoint reprojects a GeoJSON FeatureCollection to a different coordinate reference system (CRS) using the specified EPSG code.\n\n## Endpoint: `POST /domains/reproject`\n\n### Query Parameters\n\nTo reproject a GeoJSON, the following query parameter is required:\n\n- **targetEPSG**: (integer, optional) The EPSG code of the target coordinate reference system. Default is 4362.\n\n### Request Body\n\nThe request body should be a GeoJSON FeatureCollection object that includes:\n\n- **type**: (string) Must be \"FeatureCollection\".\n- **features**: (array) An array of Feature objects, each containing:\n  - **type**: (string) Must be \"Feature\".\n  - **geometry**: (object) A GeoJSON geometry object.\n  - **properties**: (object, optional) Properties associated with the feature.\n\n### Response\n\nThe response returns the reprojected GeoJSON FeatureCollection with all geometries transformed to the target coordinate reference system while preserving the original properties of each feature.\n\n### Example Request\n\n```http\nPOST /domains/reproject?targetEPSG=32633\nContent-Type: application/json\n\n{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"geometry\": {\n        \"type\": \"Polygon\",\n        \"coordinates\": [[[...coordinates in source CRS...]]]\n      },\n      \"properties\": {\n        \"name\": \"Example Feature\"\n      }\n    }\n  ]\n}\n```\n\n### Example Response\n\n```json\n{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"geometry\": {\n        \"type\": \"Polygon\",\n        \"coordinates\": [[[...coordinates in target CRS...]]]\n      },\n      \"properties\": {\n        \"name\": \"Example Feature\"\n      }\n    }\n  ]\n}\n```","operationId":"reproject_geojson","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"targetEPSG","in":"query","required":false,"schema":{"type":"integer","description":"The target EPSG code to reproject the GeoJSON to.","default":4362,"title":"Targetepsg"},"description":"The target EPSG code to reproject the GeoJSON to."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoJSONFeatureCollection"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoJSONFeatureCollection"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/features/{featureName}/style":{"patch":{"tags":["Domains"],"summary":"Update Feature Style","description":"# Update Feature Style\n\nUpdates the style properties of a specific feature in a domain while preserving its geometry. This endpoint allows you to customize the visual appearance of either the domain boundary or input geometry features.\n\n## Endpoint\n\n```\nPATCH /domains/{domainId}/features/{featureName}/style\n```\n\n## Path Parameters\n\n- `domainId` (string, required)\n  - The unique identifier of the domain containing the feature to update\n\n- `featureName` (string, required)\n  - The name of the feature to update\n  - Must be either \"domain\" or \"input\"\n    - \"domain\" refers to the padded bounding box feature\n    - \"input\" refers to the original input geometry feature\n\n## Request Body\n\nThe request body should contain style properties to update. All properties are optional:\n\n```json\n{\n  \"strokeColor\": string,     // The color of line/boundary (e.g., \"#555555\")\n  \"strokeOpacity\": number,   // The opacity of lines/boundaries (0-1)\n  \"strokeWidth\": number,     // The width of lines/boundaries\n  \"fillColor\": string,       // The fill color for polygons (e.g., \"#555555\")\n  \"fillOpacity\": number      // The opacity of polygon fills (0-1)\n}\n```\n\n## Response\n\nReturns the updated feature with the new style properties. The response includes:\n\n- `type`: Always \"Feature\"\n- `geometry`: The unchanged GeoJSON geometry of the feature\n- `properties`: Object containing:\n  - `name`: The feature name (\"domain\" or \"input\")\n  - `area`: The area of the feature in square meters\n  - `perimeter`: The perimeter of the feature in meters\n  - `style`: The updated style properties\n\n## Example Request\n\n```http\nPATCH /domains/abc123/features/domain/style\nContent-Type: application/json\n\n{\n  \"strokeColor\": \"#FF0000\",\n  \"strokeWidth\": 3,\n  \"strokeOpacity\": 0.8,\n  \"fillColor\": \"#FFA500\",\n  \"fillOpacity\": 0.3\n}\n```\n\n## Example Response\n\n```json\n{\n  \"type\": \"Feature\",\n  \"geometry\": {\n    \"type\": \"Polygon\",\n    \"coordinates\": [/* ... */]\n  },\n  \"properties\": {\n    \"name\": \"domain\",\n    \"area\": 10000.0,\n    \"perimeter\": 400.0,\n    \"style\": {\n      \"strokeColor\": \"#FF0000\",\n      \"strokeWidth\": 3,\n      \"strokeOpacity\": 0.8,\n      \"fillColor\": \"#FFA500\",\n      \"fillOpacity\": 0.3\n    }\n  }\n}\n```\n\n## Error Responses\n\n- **404 Not Found**\n  - The specified domain or feature does not exist\n  - The user does not have access to the specified domain\n\n- **500 Internal Server Error**\n  - An error occurred while updating the feature style\n  - Response includes an error message in the detail field\n\n## Notes\n\n- Style properties are merged with existing styles - only specified properties are updated\n- Unspecified style properties retain their existing values\n- The geometry and other feature properties remain unchanged\n- Style changes are persistent and will be saved to the database","operationId":"update_feature_style","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"featureName","in":"path","required":true,"schema":{"enum":["domain","input"],"type":"string","title":"Featurename"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoJSONStyleProperties"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoJSONFeature"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/export":{"get":{"tags":["Domains"],"summary":"Export Domain Data","description":"# Export Domain Data Endpoint\n\nThis endpoint exports all metadata for a domain including features, grids, and inventories.\nReturns domain configuration and metadata for all resources without including large data payloads.\n\n## Endpoint: `GET /domains/{domainId}/export`\n\n### Path Parameters\n\n- **domainId**: (string) The unique identifier of the domain to export.\n\n### Response\n\nThe response returns a JSON object containing metadata for the domain and all its resources:\n\n- **domain**: (object) Full domain metadata including:\n  - **id**: Domain identifier\n  - **name**: Domain name\n  - **description**: Domain description\n  - **horizontalResolution**: Grid horizontal resolution in meters\n  - **verticalResolution**: Grid vertical resolution in meters\n  - **crs**: Coordinate reference system\n  - **features**: Domain boundary geometry\n  - **createdOn**: Creation timestamp\n  - **modifiedOn**: Last modification timestamp\n  - **tags**: Associated tags\n\n- **features**: (object) Feature metadata (excluding GeoJSON data):\n  - **road**: Road feature configuration, sources, status, timestamps\n  - **water**: Water feature configuration, sources, status, timestamps\n\n- **grids**: (object) Grid metadata (excluding array data):\n  - **tree**: Tree grid configuration, attributes, sources, status\n  - **surface**: Surface grid configuration, attributes, sources, modifications\n  - **topography**: Topography grid configuration, attributes, sources\n  - **feature**: Feature grid configuration, attributes\n\n- **inventories**: (object) Inventory metadata (excluding tree records):\n  - **tree**: Tree inventory configuration, sources, modifications, treatments\n\n### What is Excluded\n\nThe following large data payloads are excluded to keep the response size manageable.\nUse dedicated endpoints to access this data:\n\n- **Feature GeoJSON**: Use `/features/{type}/exports/geojson`\n- **Grid array data**: Use `/grids/exports/zarr` or `/grids/{type}/{attribute}/data`\n- **Tree inventory records**: Use `/inventories/tree/exports/{format}`\n\n### Use Cases\n\n- Backup domain configuration and settings\n- Audit domain state and resource creation\n- Compare domains and their configurations\n- Debug configuration issues\n- Export for documentation or sharing\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Resource not found: domains/{domainId}\"\n  - **Detail**: \"Unauthorized access for: domains/{domainId}\"\n\n### Example Response\n\n```json\n{\n  \"domain\": {\n    \"id\": \"abc123\",\n    \"name\": \"My Domain\",\n    \"description\": \"Test domain\",\n    \"horizontalResolution\": 10.0,\n    \"verticalResolution\": 2.0,\n    ...\n  },\n  \"features\": {\n    \"road\": {\n      \"status\": \"completed\",\n      \"sources\": [\"OSM\"],\n      ...\n    }\n  },\n  \"grids\": {\n    \"tree\": {\n      \"status\": \"completed\",\n      \"attributes\": [\"bulkDensity\", \"fuelMoisture\"],\n      ...\n    }\n  },\n  \"inventories\": {\n    \"tree\": {\n      \"status\": \"completed\",\n      \"sources\": [\"TreeMap\"],\n      ...\n    }\n  }\n}\n```","operationId":"export_domain_data","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Export Domain Data V1 Domains  Domainid  Export Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/features":{"get":{"tags":["Features"],"summary":"Get Features","description":"# Get Features Endpoint\n\nThis endpoint retrieves the features resource associated with a domain\nbelonging to the user based on the provided domain ID.\n\nA features resource is a container for the various types of feature\ndata that can exist with the spatial context of the domain. Currently,\nonly road and water features are supported, though other forms of feature\nwill be added soon.\n\n## Endpoint: `GET /v1/domains/{domainId}/features`\n\n### Path Parameters\n\nTo retrieve the features of a domain, the following path parameter is required:\n\n- **domainId**: (string) The unique identifier of the domain belonging to the user whose features are to be retrieved.\n\n### Response\n\nThe response returns the members of the specified features resource\nfollowing the Features schema.\n\n- **road**: (RoadFeature)\n- **water**: (WaterFeature)\n\n### Example Request\n\n```http\nGET /v1/domains/1e7d8d3c9f8b4c3ba9e7c3b4f8d7a9c1/features\n```\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Domain not found.\"\n- **500 Internal Server Error**: An error occurred while retrieving the feature resources.\n  - **Detail**: \"An error occurred while getting the feature resources.\"","operationId":"get_features","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Features"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/features/exports/{exportFormat}":{"post":{"tags":["Features"],"summary":"Create Feature Export","description":"# Create Feature Export\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/features/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint initiates the creation of an export file for the feature data (road and water) of a specific domain, in the specified format.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format in which to export the feature data. Possible value:\n  - `\"geojson\"`: Export the feature data in GeoJSON format.\n\n## Response\n\nIf successful, returns a `201 Created` status code and a JSON object with:\n\n- `status` (string): Initially set to `\"pending\"`.\n- `createdOn` (string): Timestamp of the export request creation.\n- `modifiedOn` (string): Timestamp of the last modification.\n- `expiresOn` (string): Expiration timestamp (7 days from creation).\n- `signedUrl` (string, optional): Initially `null`, populated when export is completed.\n\n## Error Responses\n\n- `404 Not Found`: If the domain is not found, or there are no water or road features created.\n- `429 Too Many Requests`: Error submitting the export job due to resource exhaustion.\n\n## Usage Notes\n\n- Ensure that the road and water feature data for the domain have been created before initiating an export. If neither feature exists, the request will result in a `404 Not Found` error.\n- The export will be processed as a background job, and the status will initially be set to `\"pending\"`.\n- Check the export status using a separate endpoint to monitor progress.\n- Once the export is complete, use the `signedUrl` to download the GeoJSON file.","operationId":"create_feature_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"const":"geojson","type":"string","title":"Exportformat"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Features"],"summary":"Get Feature Export","description":"# Get Feature Export\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/features/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint retrieves the details of a feature export request (for road and water features) for a specific domain.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format of the export. Possible value:\n    - `\"geojson\"`: Export the feature data in GeoJSON format.\n\n## Response\n\nIf successful, returns a `200 OK` status code and a JSON object with:\n\n- `status` (string): Current status of the export (`\"pending\"`, `\"running\"`, `\"completed\"`, `\"failed\"`, or `\"expired\"`).\n- `createdOn` (string): Timestamp of export request creation.\n- `modifiedOn` (string): Timestamp of the last modification.\n- `expiresOn` (string): Expiration timestamp.\n- `signedUrl` (string, optional): URL to download the exported file, if status is `\"completed\"`.\n\n## Error Responses\n\n- `404 Not Found`: Export not found or no feature data exists for the specified export format.\n\n## Usage Notes\n\n- Use this endpoint to check the status of a feature export request.\n- Once the status is `\"completed\"`, you can use the `signedUrl` to download the exported GeoJSON file.\n- The signed URL expires 7 days after creation.","operationId":"get_feature_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"const":"geojson","type":"string","title":"Exportformat"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Features"],"summary":"Delete Feature Export","description":"# Delete Feature Export\n\n## Endpoint\n\n```\nDELETE /v1/domains/{domainId}/features/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint deletes a feature export request and its associated files for a specific domain.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format of the export to delete. Possible values are:\n    - `\"geojson\"`: Delete the export in the geojson format.\n\n## Response\n\nIf successful, returns a `204 No Content` status code.\n\n## Error Responses\n\n- `404 Not Found`: Domain or export request not found.\n\n## Usage Notes\n\n- Use this endpoint to delete an existing feature export request and its related data.\n- The export request is removed from Firestore, and the associated files are deleted from Google Cloud Storage asynchronously.","operationId":"delete_feature_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"const":"geojson","type":"string","title":"Exportformat"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/features/road":{"post":{"tags":["Road Feature"],"summary":"Create Road Feature","description":"# Create Road Feature\n\nThis endpoint creates a new road feature resource for a specific domain.\nRoad features represent various road attributes (e.g., type, condition) within the spatial context of a domain.\nThe road feature data can be generated using various data sources (e.g., OSM, user-provided GeoJSON).\n\nOn resource creation, the road feature data is set to a status of \"pending\".\nThe road feature data is generated in the background using the specified methods and data sources.\nOnce the road feature data is generated and available for user access, the status is updated to \"completed\".\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/features/road\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to create the road feature.\n\n## Request Body\n\nThe request body should be a JSON object containing the following fields:\n\n- `sources` (array of strings, required): List of sources to include in the road feature. Possible values include:\n  - `\"OSM\"`: OpenStreetMap data source. Not supported for domains with local coordinate systems.\n  - `\"geojson\"`: User-provided GeoJSON data. Supported for all coordinate systems including local.\n- `geojson` (object, optional): GeoJSON Feature or FeatureCollection object. Required when source is `\"geojson\"`.\n  Must contain only Polygon or MultiPolygon geometries (area-based features).\n\n## Response\n\nIf the request is successful, the endpoint will return a `201 Created` status code and the created road feature resource in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the road feature. Will be set to `\"pending\"` initially.\n- `createdOn` (string): The timestamp when the road feature was created.\n- `modifiedOn` (string): The timestamp when the road feature was last modified.\n- `checksum` (string): A unique checksum for the road feature resource.\n- `sources` (array of strings): The list of sources used for the road feature.\n- `geojson` (object, optional): The GeoJSON data if provided.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `422 Unprocessable Entity`: Invalid request body (e.g., OSM source with local CRS, missing geojson field, invalid geometry types).\n- `503 Service Unavailable`: The service is temporarily unavailable (OSM source only).\n\n## Usage Notes\n\n- OSM source is not supported for domains with \"local\" coordinate systems.\n- geojson source is supported for all coordinate systems, including local.\n- When using geojson source, the provided GeoJSON will be clipped to the domain boundary.\n- For non-local CRS, the GeoJSON will be automatically transformed to match the domain's CRS.\n- The endpoint updates the road feature data in the database and logs relevant information for monitoring and debugging.","operationId":"create_road_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoadFeatureRequest"},"examples":{"OSM source":{"value":{"sources":["OSM"]},"summary":"OSM Source Example","description":"This example creates a road feature using OpenStreetMap data. The road data will be automatically fetched from OSM based on the domain boundary. Note: OSM source is not supported for domains with local coordinate systems."},"GeoJSON source":{"value":{"sources":["geojson"],"geojson":{"type":"FeatureCollection","name":"road","crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:OGC:1.3:CRS84"}},"features":[{"type":"Feature","properties":{},"geometry":{"type":"MultiPolygon","coordinates":[[[[-114.10642793064184,46.83276641015527],[-114.10601673996699,46.83205398685405],[-114.10557181862677,46.83168108130049],[-114.10481856162541,46.83156628534552],[-114.10398620803223,46.83148139151754],[-114.10383371860418,46.83143498343838],[-114.1019381969797,46.832386812410306],[-114.10154897057593,46.83241949539097],[-114.1011173123978,46.832376644929134],[-114.09969047951152,46.832106463373236],[-114.09824592361048,46.832165550706954],[-114.09788135714261,46.832315850119066],[-114.09686270290597,46.83223681341092],[-114.09667926299389,46.83218961010543],[-114.09661334539341,46.83226239332075],[-114.09729838549353,46.832492515303045],[-114.09735857865687,46.83252595300362],[-114.0969412563536,46.83250472391239],[-114.09646946744755,46.83234383393762],[-114.09538030113876,46.832135353896334],[-114.0950569932669,46.83209523226897],[-114.09506329436755,46.83197838904346],[-114.09643105075425,46.83219394537029],[-114.09659097833102,46.83210227559111],[-114.09762453468636,46.83219232957655],[-114.09779993777798,46.83210105084325],[-114.0987658347815,46.83200855432987],[-114.0996652437212,46.83199945681341],[-114.1015225878364,46.83233373350426],[-114.10377523573847,46.83136968249515],[-114.10439547172474,46.83136411431307],[-114.10560905169886,46.831565020384055],[-114.10604248947286,46.83186317863551],[-114.10640546268593,46.83231910223805],[-114.10658327904652,46.83275970380685],[-114.10642793064184,46.83276641015527]]]]}}]}},"summary":"GeoJSON Source Example","description":"This example creates a road feature using user-provided GeoJSON data. The GeoJSON must contain Polygon or MultiPolygon geometries representing road areas. The provided GeoJSON will be clipped to the domain boundary and transformed to match the domain's CRS if necessary. This source is supported for all coordinate systems including local."}}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoadFeature"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Road Feature"],"summary":"Get Road Feature","description":"# Get Road Feature\n\nThis endpoint retrieves the details of an existing road feature resource\nfor a specific domain. Users can access the status and metadata of the\nroad feature that has been created.\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/features/road\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to retrieve the road feature.\n\n## Response\n\nIf the request is successful, the endpoint will return a `200 OK` status code and the road feature resource in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the road feature.\n- `createdOn` (string): The timestamp when the road feature was created.\n- `modifiedOn` (string): The timestamp when the road feature was last modified.\n- `checksum` (string): A unique checksum for the road feature resource.\n- `sources` (array of strings): The list of sources used for the road feature.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `404 Not Found`: The road feature for the specified domain does not exist or is empty.\n\n## Usage Notes\n\n- Ensure that the domain ID provided in the request path is valid and that the user has access to the specified domain.\n- If the road feature data is empty or invalid, the endpoint will raise a `404 Not Found` error with a detail message indicating the issue.","operationId":"get_road_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoadFeature"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Road Feature"],"summary":"Delete Road Feature","description":"# Delete Road Feature\n\nThis endpoint deletes an existing road feature resource for a specific\ndomain. This action removes the road feature data from the database and\ncancels any ongoing job execution related to the road feature.\n\n## Endpoint\n\n```\nDELETE /v1/domains/{domainId}/features/road\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to delete the road feature.\n\n## Response\n\nIf the request is successful, the endpoint will return a `204 No Content` status code. This indicates that the road feature has been successfully deleted and no content is returned in the response body.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Domain not found\"\n\n## Usage Notes\n\n- Deleting a road feature is a permanent action and cannot be undone. Ensure that you have the correct domain ID before making the delete request.\n- The endpoint will also cancel any ongoing job execution related to the road feature and remove the associated data from the cache and cloud storage.","operationId":"delete_road_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/features/road/exports/{exportFormat}":{"post":{"tags":["Road Feature"],"summary":"Create Road Feature Export","description":"# Create Road Feature Export\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/features/road/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint initiates the creation of an export file for the road feature data of a specific domain, in the specified format.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format in which to export the road feature data. Possible value:\n  - `\"geojson\"`: Export the feature data in GeoJSON format.\n\n## Response\n\nIf successful, returns a `201 Created` status code and a JSON object with:\n\n- `status` (string): Initially set to `\"pending\"`.\n- `createdOn` (string): Timestamp of the export request creation.\n- `modifiedOn` (string): Timestamp of the last modification.\n- `expiresOn` (string): Expiration timestamp (7 days from creation).\n- `signedUrl` (string, optional): Initially `null`, populated when export is completed.\n\n## Error Responses\n\n- `404 Not Found`: If the domain is not found, or there are no water or road features created.\n- `429 Too Many Requests`: Error submitting the export job due to resource exhaustion.\n\n## Usage Notes\n\n- The export will be processed as a background job, and the status will initially be set to `\"pending\"`.\n- Check the export status using a separate endpoint to monitor progress.\n- Once the export is complete, use the `signedUrl` to download the GeoJSON file.","operationId":"create_road_feature_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"const":"geojson","type":"string","title":"Exportformat"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Road Feature"],"summary":"Get Road Feature Export","description":"# Get Road Feature Export\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/features/road/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint retrieves the details of a feature export request (for road features) for a specific domain.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format of the export. Possible value:\n    - `\"geojson\"`: Export the feature data in GeoJSON format.\n\n## Response\n\nIf successful, returns a `200 OK` status code and a JSON object with:\n\n- `status` (string): Current status of the export (`\"pending\"`, `\"running\"`, `\"completed\"`, `\"failed\"`, or `\"expired\"`).\n- `createdOn` (string): Timestamp of export request creation.\n- `modifiedOn` (string): Timestamp of the last modification.\n- `expiresOn` (string): Expiration timestamp.\n- `signedUrl` (string, optional): URL to download the exported file, if status is `\"completed\"`.\n\n## Error Responses\n\n- `404 Not Found`: Export not found or no feature data exists for the specified export format.\n\n## Usage Notes\n\n- Use this endpoint to check the status of a road feature export request.\n- Once the status is `\"completed\"`, you can use the `signedUrl` to download the exported GeoJSON file.\n- The signed URL expires 7 days after creation.","operationId":"get_road_feature_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"const":"geojson","type":"string","title":"Exportformat"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/features/water":{"post":{"tags":["Water Feature"],"summary":"Create Water Feature","description":"# Create Water Feature\n\nThis endpoint creates a new water feature resource for a specific domain.\nWater feature data represents various water-related attributes (e.g.,\nlakes, rivers) that exist within the spatial context of a domain. The\nwater feature data can be sourced from different data sources (e.g., OSM)\nand can include various details about water features in the domain.\n\nOn resource creation, the water feature data is set to a status of \"pending\".\nThe data is processed in the background, and once it is available for user\naccess, the status is updated to \"completed\".\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/features/water\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for\n  which you want to create the water feature.\n\n## Request Body\n\nThe request body should be a JSON object containing the following fields:\n\n- `sources` (array of strings, required): List of sources from which the\n  water feature data should be collected. Currently, `\"OSM\"` is a supported source.\n- Additional fields might be included based on the source. For example,\n  if the source is `\"OSM\"`, the request can specify additional parameters\n  related to how the data should be fetched.\n\n## Response\n\nIf the request is successful, the endpoint will return a `201 Created` status code\nand the created water feature resource in the response body. The response body will\nbe a JSON object with the following fields:\n\n- `status` (string): The status of the water feature. Initially set to `\"pending\"`.\n- `createdOn` (string): The timestamp when the water feature was created.\n- `modifiedOn` (string): The timestamp when the water feature was last modified.\n- `checksum` (string): A unique checksum for the water feature resource.\n- `sources` (array of strings): The list of sources used to gather the water feature data.\n\n## Error Responses\n\n- `422 Unprocessable Entity`: The domain is in a local coordinate system which\n  does not support water features.\n  - **Detail**: \"WaterFeature is not supported for local coordinate systems.\"\n- `429 Too Many Requests`: An error occurred while running the job for processing\n  the water feature data.\n  - **Detail**: An error message related to job submission.\n\n## Usage Notes\n\n- Ensure that the domain ID provided in the request path is valid and that the user\n  has access to the specified domain.\n- If using `\"OSM\"` as a source, additional parameters can be specified as needed.\n- The process of creating and updating the water feature data involves background\n  job execution, and the endpoint will return the initial resource with a pending status.","operationId":"create_water_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWaterFeatureRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaterFeature"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Water Feature"],"summary":"Get Water Feature","description":"# Get Water Feature\n\nThis endpoint retrieves the details of an existing water feature resource\nfor a specific domain. The water feature data represents various water-related\nattributes (e.g., lakes, rivers) that have been created and stored for the\ngiven domain.\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/features/water\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for\n  which you want to retrieve the water feature.\n\n## Response\n\nIf the request is successful, the endpoint will return a `200 OK` status code\nand the water feature resource in the response body. The response body will\nbe a JSON object with the following fields:\n\n- `status` (string): The status of the water feature.\n- `createdOn` (string): The timestamp when the water feature was created.\n- `modifiedOn` (string): The timestamp when the water feature was last modified.\n- `checksum` (string): A unique checksum for the water feature resource.\n- `sources` (array of strings): The list of sources used to gather the water feature data.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `404 Not Found`: The water feature for the specified domain does not exist or is empty.\n  - **Detail**: \"water feature empty.\"\n\n## Usage Notes\n\n- Ensure that the domain ID provided in the request path is valid and that the user\n  has access to the specified domain.\n- If the water feature data does not exist or is empty, a `404 Not Found` error will be raised.","operationId":"get_water_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaterFeature"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Water Feature"],"summary":"Delete Water Feature","description":"# Delete Water Feature\n\nThis endpoint deletes an existing water feature resource for a specific domain.\nThis action removes the water feature data from the database and cancels any ongoing\njob execution related to the water feature.\n\n## Endpoint\n\n```\nDELETE /v1/domains/{domainId}/features/water\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to delete the water feature.\n\n## Response\n\nIf the request is successful, the endpoint will return a `204 No Content` status code.\nThis indicates that the water feature has been successfully deleted and no content is returned\nin the response body.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n - **Detail**: \"Domain not found\"\n- `404 Not Found`: The water feature for the specified domain does not exist.\n - **Detail**: \"Water feature not found\"\n\n## Usage Notes\n\n- Deleting a water feature is a permanent action and cannot be undone. Ensure that you have\n the correct domain ID before making the delete request.\n- The endpoint will also cancel any ongoing job execution related to the water feature and\n remove the associated data from the cache and cloud storage.","operationId":"delete_water_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/features/water/exports/{exportFormat}":{"post":{"tags":["Water Feature"],"summary":"Create Water Feature Export","description":"# Create Water Feature Export\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/features/water/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint initiates the creation of an export file for the water feature data of a specific domain, in the specified format.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format in which to export the water feature data. Possible value:\n  - `\"geojson\"`: Export the feature data in GeoJSON format.\n\n## Response\n\nIf successful, returns a `201 Created` status code and a JSON object with:\n\n- `status` (string): Initially set to `\"pending\"`.\n- `createdOn` (string): Timestamp of the export request creation.\n- `modifiedOn` (string): Timestamp of the last modification.\n- `expiresOn` (string): Expiration timestamp (7 days from creation).\n- `signedUrl` (string, optional): Initially `null`, populated when export is completed.\n\n## Error Responses\n\n- `404 Not Found`: If the domain is not found, or there are no water or water features created.\n- `429 Too Many Requests`: Error submitting the export job due to resource exhaustion.\n\n## Usage Notes\n\n- The export will be processed as a background job, and the status will initially be set to `\"pending\"`.\n- Check the export status using a separate endpoint to monitor progress.\n- Once the export is complete, use the `signedUrl` to download the GeoJSON file.","operationId":"create_water_feature_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"const":"geojson","type":"string","title":"Exportformat"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Water Feature"],"summary":"Get Water Feature Export","description":"# Get Water Feature Export\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/features/water/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint retrieves the details of a feature export request (for water features) for a specific domain.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format of the export. Possible value:\n    - `\"geojson\"`: Export the feature data in GeoJSON format.\n\n## Response\n\nIf successful, returns a `200 OK` status code and a JSON object with:\n\n- `status` (string): Current status of the export (`\"pending\"`, `\"running\"`, `\"completed\"`, `\"failed\"`, or `\"expired\"`).\n- `createdOn` (string): Timestamp of export request creation.\n- `modifiedOn` (string): Timestamp of the last modification.\n- `expiresOn` (string): Expiration timestamp.\n- `signedUrl` (string, optional): URL to download the exported file, if status is `\"completed\"`.\n\n## Error Responses\n\n- `404 Not Found`: Export not found or no feature data exists for the specified export format.\n\n## Usage Notes\n\n- Use this endpoint to check the status of a water feature export request.\n- Once the status is `\"completed\"`, you can use the `signedUrl` to download the exported GeoJSON file.\n- The signed URL expires 7 days after creation.","operationId":"get_water_feature_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"const":"geojson","type":"string","title":"Exportformat"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/inventories":{"get":{"tags":["Inventories"],"summary":"Get Inventories","description":"# Get Inventories Endpoint\n\nThis endpoint retrieves the inventories resource associated with a domain\nbelonging to the user based on the provided domain ID.\n\nAn inventories resource is a container for the various types of inventory\ndata that can exist with the spatial context of the domain. Currently,\nonly tree inventories are supported, though other forms of inventory will\nbe added soon.\n\n## Endpoint: `GET /v1/domains/{domainId}/inventories`\n\n### Path Parameters\n\nTo retrieve the inventories of a domain, the following path parameter is required:\n\n- **domainId**: (string) The unique identifier of the domain belonging to the user whose inventories are to be retrieved.\n\n### Response\n\nThe response returns the members of the specified inventories resource\nfollowing the Inventories schema.\n\n- **tree**: (TreeInventory)\n\n\n### Example Request\n\n```http\nGET /v1/domains/1e7d8d3c9f8b4c3ba9e7c3b4f8d7a9c1/inventories\n```\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Domain not found.\"\n- **500 Internal Server Error**: An error occurred while retrieving the inventory resources.\n  - **Detail**: \"An error occurred while getting the inventory resources.\"","operationId":"get_inventories","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Inventories"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/inventories/tree":{"post":{"tags":["Tree Inventory"],"summary":"Create Tree Inventory","description":"# Create Tree Inventory\n\nThis endpoint creates a new tree inventory resource for a specific domain. Tree Inventory data represents a complete forest inventory that exists within the spatial context of a domain. The tree inventory data can be generated using various data products and models that provide either national coverage (e.g., TreeMap) or local coverage.\n\nOn resource creation, the tree inventory data is set to a status of \"pending\". The tree inventory data is generated in the background using the specified method (e.g., TreeMap). Once the tree inventory data is generated and available for user access, the status is updated to \"completed\".\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/inventories/tree\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for\n  which you want to create the tree inventory.\n\n## Request Body\n\nThe request body should be a JSON object containing the following fields:\n\n- `sources` (array of strings, required): List of data sources to be used for building the tree inventory. Currently, only one data source at a time is supported. Possible values are:\n  - `\"TreeMap\"`: Indicates that the tree inventory should be created using the TreeMap raster product. This approach generates a tree inventory with national coverage.\n  - `\"file\"`: Indicates that you will upload a file via a signed url. Please see File Source Configuration for more info.\n  - `\"pointcloud\"`: Indicates that the tree inventory should be created from the domain's ALS point cloud resource. This resource must exist and be in a \"completed\" state.\n\n- `modifications` (array of objects, optional): List of modifications to apply to the tree inventory data. Maximum 1000 modifications allowed. See the Modifications section below for details.\n\n- `treatments` (array of objects, optional): List of silvicultural treatments to apply to the tree inventory. Maximum 1000 treatments allowed. See the Treatments section below for details.\n\n- `featureMasks` (array of strings, optional): List of Features to mask tree inventory data. Referenced features must exist and be completed before creating the tree inventory.\n\n### TreeMap Source Configuration\n\nIf `\"TreeMap\"` is included in the `sources`, the request body can include additional configurations for `TreeMap`:\n\n- `TreeMap` (object, optional): Advanced configurations for the TreeMap data source.\n  - `version` (string, optional): The version of TreeMap to use. Default is `\"2022\"`. Possible values are:\n    - `\"2014\"`: Use the 2014 version of TreeMap.\n    - `\"2016\"`: Use the 2016 version of TreeMap.\n    - `\"2020\"`: Use the 2020 version of TreeMap.\n    - `\"2022\"`: Use the 2022 version of TreeMap.\n  - `seed` (integer, optional): The random seed to use for generating the tree inventory. If not provided, a random seed will be generated.\n  - `canopyHeightMapConfiguration` (object, optional): Canopy height map configuration for TreeMap data source. If provided, the canopy height map will be used to segment and impute the coarse 30m TreeMap data with high-resolution canopy height data. Details of this approach will be provided in an upcoming publication. Please contact support.fastfuels@silvxlabs.com for more information.\n    - `source` (string, required): The source of the canopy height map data. Possible values are:\n        - `\"Meta2024\"`: Use the Meta2024 canopy height map data. More information about this data source can be found here: https://www.sciencedirect.com/science/article/pii/S003442572300439X\n\n### File Source Configuration\nGenerate Signed URL for Tree Inventory Upload\n\nIf the source is `\"file\"`, this endpoint generates a signed URL that allows users to upload a CSV file representing the tree inventory data.\nThe signed URL is valid for 1 hour and has a maximum upload size of 500 MB.\n\nThe full work flow consists of the following steps:\n1. Call this endpoint to get a signed URL\n2. Perform a put request to send your file to the signed url. Here is a python example:\n\n```[python]\nwith open(\"your_file_goes_here.csv\", \"rb\") as file:\n    upload_response = requests.put(\n        signed_url_response[\"file\"][\"url\"],\n        data=file,\n        headers=signed_url_response[\"file\"][\"headers\"],\n    )\n```\n**Note**: the signed_url_response has a field named \"file\" with the relevant info for the put request.\n\n3. Your file will be validated and processed in the background\n4. The status of your upload can be retrieved via and inventory get() request\n\n#### Required Columns\n\nThe CSV file must include the following columns with their specified data types and constraints:\n\n1. **SPCD** (Integer)\n   - FIA species code\n   - Must be an integer\n   - Represents standard FIA species classifications\n\n2. **STATUSCD** (Integer)\n   - Tree status code\n   - Must be one of these values:\n     - 0: No status\n     - 1: Live\n     - 2: Dead\n     - 3: Missing\n\n3. **DIA** (Float)\n   - Diameter at breast height (DBH)\n   - Unit: centimeters (cm)\n   - Range: 0 to 1200 cm\n   - Measured at 1.37 meters above ground\n\n4. **HT** (Float)\n   - Tree height\n   - Unit: meters (m)\n   - Range: 0 to 116 meters\n   - Measured from ground to tree top\n\n5. **CR** (Float)\n   - Crown ratio\n   - Unit: ratio (dimensionless)\n   - Range: 0 to 1\n   - Represents the ratio of crown length to total tree height\n\n6. **X** (Float)\n   - X coordinate in projected coordinate system\n   - Unit: meters (m)\n   - Range: Must fall within domain bounds (west to east)\n   - Required: Yes\n   - Used for spatial positioning\n\n7. **Y** (Float)\n   - Y coordinate in projected coordinate system\n   - Unit: meters (m)\n   - Range: Must fall within domain bounds (south to north)\n   - Required: Yes\n   - Used for spatial positioning\n\n### Point Cloud Source Configuration\n\nIf `\"pointcloud\"` is included in the `sources`, the endpoint will:\n1. Verify that a completed ALS point cloud resource exists for the domain.\n2. Perform a spatial check to ensure the domain's bounding box intersects with the operational area of the tree generation model.\n3. If validation passes, it will schedule a background job (`treecondenser`) to generate the tree inventory from the point cloud data.\n### Modifications\n\nThe `modifications` field allows you to filter and adjust tree inventory data before it's finalized. Modifications are applied sequentially in the order they appear in the array, and each modification consists of:\n\n1. **Conditions**: Criteria for selecting which trees to modify (AND logic)\n2. **Actions**: Operations to perform on selected trees\n\n#### Modification Structure\n\n```json\n{\n  \"conditions\": [\n    {/* condition 1 */},\n    {/* condition 2 */}\n  ],\n  \"actions\": [\n    {/* action 1 */},\n    {/* action 2 */}\n  ]\n}\n```\n\nAll conditions must be true (AND logic) for a tree to be selected. Actions are then applied to all selected trees.\n\n#### Condition Types\n\n**1. Simple Field Conditions**\n\nFilter trees based on individual field values:\n\n- **Available Fields**: `HT` (height), `DIA` (diameter), `CR` (crown ratio), `SPCD` (species code)\n- **Operators**: `eq` (equals), `ne` (not equals), `gt` (greater than), `lt` (less than), `ge` (greater than or equal), `le` (less than or equal)\n\n**Example**: Select trees taller than 20 meters\n```json\n{\n  \"attribute\": \"HT\",\n  \"operator\": \"gt\",\n  \"value\": 20\n}\n```\n\n**2. Expression-Based Conditions**\n\nFilter trees based on arithmetic expressions combining multiple fields. This enables complex filtering logic in a single API call, replacing download-modify-upload workflows.\n\n- **Available Fields**: `HT`, `DIA`, `CR`\n- **Operators**: `+`, `-`, `*`, `/`, `()`\n- **Comparison Operators**: Same as simple conditions (`eq`, `ne`, `gt`, `lt`, `ge`, `le`)\n\n**Example**: Select trees where crown length (HT × CR) is less than 1 meter\n```json\n{\n  \"attribute\": \"expression\",\n  \"expression\": \"HT * CR\",\n  \"operator\": \"lt\",\n  \"value\": 1.0\n}\n```\n\n**Common Expression Use Cases:**\n\n- **Crown length**: `HT * CR` (vertical extent of crown)\n- **Crown base height**: `HT * (1 - CR)` (height where crown begins)\n- **Height-to-diameter ratio**: `HT / DIA` (slenderness ratio)\n- **Average metrics**: `(HT + DIA) / 2`\n\n**Security Notes:**\n- Only arithmetic operations permitted\n- No function calls, imports, or code execution\n- Validated at API level for safety\n\n**Multiple Conditions:**\n\nCombine multiple conditions with AND logic:\n```json\n{\n  \"conditions\": [\n    {\n      \"attribute\": \"expression\",\n      \"expression\": \"HT * CR\",\n      \"operator\": \"gt\",\n      \"value\": 5.0\n    },\n    {\n      \"attribute\": \"SPCD\",\n      \"operator\": \"eq\",\n      \"value\": 202\n    }\n  ],\n  \"actions\": [...]\n}\n```\nThis selects Douglas-fir trees (SPCD=202) with crown length > 5m.\n\n#### Action Types\n\n**1. Modify Field Values**\n\nAdjust tree attributes for selected trees:\n\n- **Available Fields**: `HT`, `DIA`, `CR`, `SPCD`\n- **Modifiers**:\n  - `multiply`: Multiply by value\n  - `divide`: Divide by value\n  - `add`: Add value\n  - `subtract`: Subtract value\n  - `replace`: Replace with value\n\n**Example**: Reduce height of tall trees by 10%\n```json\n{\n  \"attribute\": \"HT\",\n  \"modifier\": \"multiply\",\n  \"value\": 0.9\n}\n```\n\n**Value Constraints**: Modifications automatically enforce valid ranges:\n- `HT` ≥ 0 (height cannot be negative)\n- `DIA` ≥ 0 (diameter cannot be negative)\n- `CR`: 0 ≤ CR ≤ 1 (crown ratio must be between 0 and 1)\n\n**2. Remove Trees**\n\nRemove selected trees from the inventory.\n\n**New simplified syntax** (recommended):\n```json\n{\n  \"modifier\": \"remove\"\n}\n```\n\n**Legacy syntax** (still supported):\n```json\n{\n  \"attribute\": \"all\",\n  \"modifier\": \"remove\"\n}\n```\n\nBoth syntaxes produce identical results and are fully backwards compatible.\n\n**Important**: Remove action must be the only action in the actions array. Multiple actions cannot be combined with remove.\n\n#### Complete Modification Examples\n\n**Example 1: Remove trees with short crowns**\n\nReplace pandas workflow:\n```python\n# Old workflow: download CSV, filter in pandas\ndf = df[df['HT'] * df['CR'] >= 1]\n# ...then re-upload\n```\n\nWith single API call:\n```json\n{\n  \"modifications\": [\n    {\n      \"conditions\": [\n        {\n          \"attribute\": \"expression\",\n          \"expression\": \"HT * CR\",\n          \"operator\": \"lt\",\n          \"value\": 1.0\n        }\n      ],\n      \"actions\": [\n        {\"modifier\": \"remove\"}\n      ]\n    }\n  ]\n}\n```\n\n**Example 2: Remove unrealistic trees**\n\nRemove trees with abnormal height-to-diameter ratio:\n```json\n{\n  \"modifications\": [\n    {\n      \"conditions\": [\n        {\n          \"attribute\": \"expression\",\n          \"expression\": \"HT / DIA\",\n          \"operator\": \"gt\",\n          \"value\": 100.0\n        }\n      ],\n      \"actions\": [\n        {\"modifier\": \"remove\"}\n      ]\n    }\n  ]\n}\n```\n\n**Example 3: Modify and filter**\n\nReduce height of tall trees, then remove small diameter trees:\n```json\n{\n  \"modifications\": [\n    {\n      \"conditions\": [\n        {\"attribute\": \"HT\", \"operator\": \"gt\", \"value\": 30}\n      ],\n      \"actions\": [\n        {\"attribute\": \"HT\", \"modifier\": \"multiply\", \"value\": 0.9}\n      ]\n    },\n    {\n      \"conditions\": [\n        {\"attribute\": \"DIA\", \"operator\": \"lt\", \"value\": 10}\n      ],\n      \"actions\": [\n        {\"modifier\": \"remove\"}\n      ]\n    }\n  ]\n}\n```\n\n**Processing Order:**\n1. Modifications are applied before treatments\n2. Modifications within the array are applied sequentially\n3. All conditions must be true (AND logic) for trees to be selected\n4. Actions are applied to all selected trees\n\n### Treatments\n\nThe `treatments` field is an array of treatment objects. Each treatment object represents a silvicultural treatment to be applied to the tree inventory. Currently, there are two types of treatment types available:\n\n1. Proportional Thinning\n2. Directional Thinning\n\n#### Proportional Thinning\n\n- `method`: \"proportionalThinning\" (string, required)\n- `targetMetric`: \"basalArea\" (string, required)\n- `targetValue`: float (required)\n  - Unit: square meters per hectare (m²/ha)\n  - Represents the target basal area after thinning\n\n#### Directional Thinning\n\n- `method`: \"directionalThinning\" (string, required)\n- `direction`: (string, required)\n  - Possible values: \"below\" or \"above\"\n  - Indicates whether to thin from below (smallest to largest) or above (largest to smallest)\n- `targetMetric`: (string, required)\n  - Possible values: \"diameter\" or \"basalArea\"\n- `targetValue`: float (required)\n  - Units of the targetValue quantity depends on the targetMetric:\n    - For \"diameter\": centimeters (cm)\n    - For \"basalArea\": square meters per hectare (m²/ha)\n  - Represents the threshold for thinning (diameter) or the target basal area after thinning\n\nNote: The order of treatments in the array determines the sequence in which they will be applied to the tree inventory.\n\n## Response\n\nIf the request is successful, the endpoint will return a `201 Created` status code and the created tree inventory resource in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the tree inventory
[...]
