{"openapi":"3.1.0","info":{"title":"FastFuels API","description":"A JSON API for creating, editing, and retrieving 3D fuels data for next generation fire behavior models.","version":"0.1.0"},"servers":[{"url":"https://api.fastfuels.silvxlabs.com"}],"paths":{"/":{"get":{"tags":["Index"],"summary":"Index","operationId":"index","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/cookies":{"get":{"tags":["Cookies"],"summary":"Get Cookie","operationId":"get_cookie","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}},"delete":{"tags":["Cookies"],"summary":"Delete Cookie","operationId":"delete_cookie","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/keys":{"post":{"tags":["API Keys"],"summary":"New API key","description":"Create a new API key","operationId":"create_key","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKeyRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Key"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["API Keys"],"summary":"List keys","description":"List API keys for both users and applications","operationId":"list_keys","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Page"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":100,"title":"Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListKeysResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/keys/{keyId}":{"get":{"tags":["API Keys"],"summary":"Get key","description":"Get an API key by ID","operationId":"get_key_by_id","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"string","title":"Keyid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Key"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["API Keys"],"summary":"Delete key","description":"Delete an API key by ID","operationId":"delete_key","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"string","title":"Keyid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/applications":{"post":{"tags":["Applications"],"summary":"New application","description":"Create a new application","operationId":"create_application","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Applications"],"summary":"List application","description":"List applications for authenticated user","operationId":"list_applications","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Page"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":100,"title":"Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListApplicationsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/applications/{applicationId}":{"get":{"tags":["Applications"],"summary":"Get Application","description":"Get an application by ID","operationId":"get_application","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","title":"Applicationid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Applications"],"summary":"Update Application","description":"Update an application by ID","operationId":"update_application","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","title":"Applicationid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Applications"],"summary":"Delete application","description":"Delete an application by ID","operationId":"delete_application","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","title":"Applicationid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains":{"post":{"tags":["Domains"],"summary":"Create Domain","description":"# Create Domain Endpoint\n\nThis endpoint creates a new domain resource based on a spatial extent and additional details provided by the user. The domain resource acts as the spatial container for all other resources that create data within the system.\n\n## What is a Domain Resource?\n\nA domain resource is a spatial container that represents a specific geographical area. It includes metadata such as the name, description, creation date, and the spatial extent defined by geographic coordinates. Domains are used to organize and manage spatial data and operations within a defined area. The data can be vectorized, such as holding features or trees in an inventory, or rasterized, such as a 3D canopy fuel grid or a Digital Elevation Model (DEM).\n\n## Endpoint: `POST /domains`\n\n### Request Body\n\nThe request body should be a GeoJSON object defined by the [GeoJSON specification (RFC 7946)](https://datatracker.ietf.org/doc/html/rfc7946). It can be either a Feature or a FeatureCollection. The required fields differ slightly between these two types, but there are some shared fields as well.\n\n#### Shared Fields\n\nThese fields are required for both Feature and FeatureCollection inputs:\n\n- **type**: (string) Must be either \"Feature\" or \"FeatureCollection\".\n- **name**: (string, optional) The name of the domain.\n- **description**: (string, optional) A brief description of the domain.\n- **horizontalResolution**: (float) The horizontal resolution in meters of a regular grid representation of the domain.\n- **verticalResolution**: (float) The vertical resolution in meters of a regular grid representation of the domain.\n- **crs**: (GeoJsonCRS) The GeoJSON specification formatted coordinate reference system (CRS) of the domain.\n  - **type**: (string) Must be \"name\".\n  - **properties**: (object) The properties object containing the CRS details.\n    - **name**: (string) The name of the CRS, e.g., \"EPSG:4326\". Must be either 'local' or a valid authority string.\n\n#### Feature-specific Fields\n\nWhen the input type is \"Feature\", the following additional field is required:\n\n- **geometry**: (GeoJSON Geometry object) A GeoJSON geometry object defining the spatial location of the domain.\n  - **type**: (string) Must be a valid GeoJSON type, e.g., \"Polygon\".\n  - **coordinates**: (array) An array of coordinates defining the geometry.\n\n#### FeatureCollection-specific Fields\n\nWhen the input type is \"FeatureCollection\", the following additional field is required:\n\n- **features**: (array of Feature objects) An array of Feature objects. Each Feature object should have:\n  - **type**: (string) Must be \"Feature\".\n  - **geometry**: (GeoJSON Geometry object) As described in the Feature-specific fields.\n\n### Response\n\nOn successful creation, the endpoint returns the newly created domain resource with the following fields:\n\n- **id**: (string) A unique identifier for the domain.\n- **name**: (string) The name of the domain.\n- **description**: (string) A brief description of the domain.\n- **createdOn**: (datetime) The date and time the domain was created.\n- **modifiedOn**: (datetime) The date and time the domain was last modified.\n- **type**: (string) Will be \"FeatureCollection\".\n- **features**: (array) An array of two Feature objects:\n  1. The domain feature (padded bounding box):\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the padded spatial extent of the domain.\n     - **properties**: (object) Additional properties of the domain feature.\n       - **name**: (string) Will be \"domain\".\n       - **area**: (float) The area of the domain in square meters.\n       - **perimeter**: (float) The perimeter of the domain in meters.\n  2. The input feature:\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the original input geometry.\n     - **properties**: (object) Additional properties of the input feature.\n       - **name**: (string) Will be \"input\".\n       - **area**: (float) The area of the input geometry in square meters.\n       - **perimeter**: (float) The perimeter of the input geometry in meters.\n- **horizontalResolution**: (float) The horizontal resolution of the domain.\n- **verticalResolution**: (float) The vertical resolution of the domain.\n- **crs**: (GeoJsonCRS) The coordinate reference system of the domain.\n- **utmAuthorityString**: (string, optional) The UTM authority string if the input was projected to UTM.\n\n### Processing from Request to Response\n\nThe system performs several processing steps to convert the Request Body into the Response Body:\n\n1. **CRS Handling and Projection**:\n   - If the input CRS is geographic (e.g., EPSG:4326), the geometry is automatically projected to the appropriate UTM zone.\n   - If the input CRS is already projected, the domain will keep that CRS.\n   - If the input CRS is 'local', the spatial data is assumed to be NOT geo-referenced, and no projection is performed.\n\n2. **Bounding Box Calculation**:\n   - The system calculates the bounding box of the input geometry (or the combined geometries for a FeatureCollection).\n\n3. **Resolution-based Padding**:\n   - The bounding box is padded out to the nearest multiple of the user-provided horizontal resolution.\n\n4. **FeatureCollection Creation**:\n   - The system creates a FeatureCollection with two features: the padded bounding box (domain) and the original input geometry.\n\nThese steps ensure that the domain's extent is regularized, aligned with the specified resolution, and in a suitable projected coordinate system (when applicable), which allows for subsequent grid-based operations.\n\n### Important Notes\n\n1. **Projection**: The domain will always be stored in a projected coordinate system if the input is geographic. This ensures consistency and accuracy for spatial operations within the domain.\n\n2. **UTM Zone Selection**: When projecting from a geographic CRS, the system automatically selects the appropriate UTM zone based on the centroid of the input geometry.\n\n3. **FeatureCollection Handling**: When a FeatureCollection is provided as input, the domain will be created based on the combined extent of all features in the collection.\n\n4. **Zero Area Handling**: If the spatial extent has zero area (e.g., a point or line), the endpoint will raise an error.\n\n5. **Resolution Alignment**: The spatial extent is padded out to the nearest multiple of horizontal and vertical resolution (in meters) to ensure grid alignment.\n\n6. **Maximum Area**: Currently, the maximum area for a domain is 16 square kilometers. We are planning to increase this limit in the future. If this limitation is an issue for your use case, please contact us for assistance.\n\n7. **CRS Preservation**: If you provide data in a specific projected CRS, that CRS will be preserved in the domain. This is useful for maintaining consistency with existing data sources or specific regional requirements.\n\n### Error Responses\n\n- **422 Unprocessable Entity**: The spatial extent is invalid.\n  - **Detail**: \"Invalid spatial extent. The area of the spatial extent must be greater than zero meters.\"\n  - **Detail**: \"Invalid spatial extent. The area of the spatial extent must be less than sixteen square kilometers.\"\n- **500 Internal Server Error**: An error occurred while creating the domain resource.","operationId":"create_domain","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDomainRequest"},"examples":{"feature collection WGS84":{"value":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"coordinates":[[[-114.09957018646286,46.82933208815811],[-114.10141707482919,46.828370407248826],[-114.10010954324228,46.82690548814563],[-114.09560673134018,46.8271123684554],[-114.09592544216444,46.829058122675065],[-114.09957018646286,46.82933208815811]]],"type":"Polygon"}}],"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1},"summary":"Example WGS84 FeatureCollection","description":"This example creates a domain from a FeatureCollection GeoJSON object. The CRS of the FeatureCollection is not provided so it is assumed to be 'EPSG:4326'."},"feature collection EPSG:5070":{"value":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[-1378369.2301032573,2780205.4139660406],[-1377929.1090080582,2780103.7105029486],[-1377867.967897384,2780367.5735851782],[-1378308.0924563275,2780469.278380568],[-1378369.2301032573,2780205.4139660406]]]}}],"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"EPSG:5070"},"type":"name"}},"summary":"Example EPSG:5070 FeatureCollection","description":"This example creates a domain from a FeatureCollection GeoJSON object with a CRS of 'EPSG:5070'. Note that the CRS is explicitly set in the GeoJSON object."},"feature WGS84":{"value":{"type":"Feature","geometry":{"coordinates":[[[-114.09957018646286,46.82933208815811],[-114.10141707482919,46.828370407248826],[-114.10010954324228,46.82690548814563],[-114.09560673134018,46.8271123684554],[-114.09592544216444,46.829058122675065],[-114.09957018646286,46.82933208815811]]],"type":"Polygon"},"properties":{},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1},"summary":"Example WGS84 Feature","description":"This example creates a domain from a Feature GeoJSON object with a default crs of 'EPSG:4326'."},"feature UTM":{"value":{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[721202.0930596117,5190283.73496937],[721065.1931226599,5190171.675898871],[721170.9221922038,5190012.585851082],[721513.4767988612,5190048.269428906],[721481.1717487838,5190263.570731599],[721202.0930596117,5190283.73496937]]]},"crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:EPSG::32611"}},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1},"summary":"Example UTM Feature","description":"This example creates a domain from a polygon feature with UTM coordinates. Because the coordinates are in UTM, the crs field must be explicitly set according to the GeoJSON specification."},"feature local":{"value":{"type":"Feature","geometry":{"coordinates":[[[0,0],[0,100],[100,100],[100,0],[0,0]]],"type":"Polygon"},"properties":{},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"local"},"type":"name"}},"summary":"Example Local Feature","description":"Example of a domain with spatial data in a local coordinate system (with meter units). The crs field is set to 'local' to indicate that the coordinates are in a local coordinate system."}}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Domains"],"summary":"List Domains","description":"# List Domains Endpoint\n\nThis endpoint retrieves a paginated list of domain resources based on the\nquery parameters provided by the user.\n\n## Endpoint: `GET /domains`\n\n### Query Parameters\n\nTo retrieve a list of domains, the following query parameters can be used:\n\n- **page**: (integer, optional) The page number to retrieve. Page number is zero-indexed. Default is 0.\n- **size**: (integer, optional) The number of resources to retrieve per page. Minimum is 1 and maximum is 1000. Default is 100.\n- **sortBy**: (string, optional) The field by which to sort the domains. Valid values are:\n  - \"createdOn\"\n  - \"modifiedOn\"\n  - \"name\"\n- **sortOrder**: (string, optional) The order in which to sort the results. Valid values are:\n  - \"ascending\"\n  - \"descending\"\n\n### Response\n\nThe response is a paginated list of domain resources, including metadata about the current page and the size of each page.\n\n- **domains**: (array) A list of Domain objects.\n- **currentPage**: (integer) The current page number.\n- **pageSize**: (integer) The number of domains per page.\n- **totalItems**: (integer) The total number of domain resources that belong to the user.\n\nEach Domain object in the list follows the Domain schema.\n\n### Example Request\n\n```http\nGET /domains?page=0&size=10&sortBy=createdOn&sortOrder=ascending\n```\n\n### Important Notes\n\n1. The `page` parameter is zero-indexed, meaning that the first page is `0`.\n2. The `size` parameter determines the number of domains returned per page, with a minimum of 1 and a maximum of 1000.\n3. The `sortBy` parameter allows sorting by specific fields, and the `sortOrder` parameter determines the order of sorting (ascending or descending).\n\n### Error Responses\n\n- **422 Unprocessable Entity**: Invalid query parameters.\n  - **Detail**: \"Invalid value for query parameter 'page'. Must be a non-negative integer.\"\n  - **Detail**: \"Invalid value for query parameter 'size'. Must be an integer between 1 and 1000.\"\n- **500 Internal Server Error**: An error occurred while listing the domain resources.","operationId":"list_domains","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"The page number to retrieve. Page number is zero-indexed.","default":0,"title":"Page"},"description":"The page number to retrieve. Page number is zero-indexed."},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"The number of resources to retrieve per page.","default":100,"title":"Size"},"description":"The number of resources to retrieve per page."},{"name":"sortBy","in":"query","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/DomainSortField"}],"title":"Sortby"}},{"name":"sortOrder","in":"query","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/DomainSortOrder"}],"title":"Sortorder"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListDomainResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domain_id}":{"get":{"tags":["Domains"],"summary":"Get Domain","description":"# Get Domain Endpoint\n\nThis endpoint retrieves a specific domain resource based on the provided domain ID.\n\n## Endpoint: `GET /domains/{domain_id}`\n\n### Path Parameters\n\nTo retrieve a specific domain, the following path parameter is required:\n\n- **domain_id**: (string) The unique identifier of the domain to retrieve.\n\n### Response\n\nThe response returns the details of the requested domain resource, including its metadata and spatial information.\n\n- **id**: (string) A unique identifier for the domain.\n- **name**: (string) The name of the domain.\n- **description**: (string) A brief description of the domain.\n- **createdOn**: (datetime) The date and time the domain was created.\n- **modifiedOn**: (datetime) The date and time the domain was last modified.\n- **type**: (string) Always \"FeatureCollection\".\n- **features**: (array) An array of two Feature objects:\n  1. The domain feature (padded bounding box):\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the padded spatial extent of the domain.\n     - **properties**: (object) Additional properties of the domain feature.\n       - **name**: (string) Will be \"domain\".\n       - **area**: (float) The area of the domain in square meters.\n       - **perimeter**: (float) The perimeter of the domain in meters.\n  2. The input feature:\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the original input geometry.\n     - **properties**: (object) Additional properties of the input feature.\n       - **name**: (string) Will be \"input\".\n       - **area**: (float) The area of the input geometry in square meters.\n       - **perimeter**: (float) The perimeter of the input geometry in meters.\n- **horizontalResolution**: (float) The horizontal resolution of the domain in meters.\n- **verticalResolution**: (float) The vertical resolution of the domain in meters.\n- **crs**: (GeoJsonCRS) The coordinate reference system of the domain.\n- **utmAuthorityString**: (string, optional) The UTM authority string if the input was projected to UTM.\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Resource not found.\"\n- **500 Internal Server Error**: An error occurred while retrieving the domain resource.\n  - **Detail**: \"An error occurred while getting the domain resource.\"","operationId":"get_domain","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domain_id","in":"path","required":true,"schema":{"type":"string","title":"Domain Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Domains"],"summary":"Update Domain","description":"# Update Domain Endpoint\n\nThis endpoint updates an existing domain resource based on the provided domain ID and request body. Users can modify specific fields of the domain, while other fields remain unchanged.\n\n## Endpoint: `PATCH /domains/{domain_id}`\n\n### Path Parameters\n\nTo update a specific domain, the following path parameter is required:\n\n- **domain_id**: (string) The unique identifier of the domain to update.\n\n### Request Body\n\nTo update a domain, the request body should include one or more of the following fields:\n\n- **name**: (string, optional) The name of the domain.\n- **description**: (string, optional) A brief description of the domain.\n- **tags**: (array of strings, optional) A list of tags associated with the domain.\n\n### Fields that Can Be Updated\n\n- **name**: The name of the domain.\n- **description**: A brief description of the domain.\n- **tags**: The list of tags associated with the domain.\n\n### Fields that Cannot Be Updated\n\nThe following fields cannot be updated. If you wish to change these fields, you need to create a new domain resource with the desired values:\n\n- **id**: The unique identifier for the domain.\n- **createdOn**: The date and time the domain was created.\n- **type**: Always \"FeatureCollection\".\n- **features**: The FeatureCollection containing the domain and input geometries.\n- **horizontalResolution**: The horizontal resolution of the domain.\n- **verticalResolution**: The vertical resolution of the domain.\n- **crs**: The coordinate reference system of the domain.\n- **utmAuthorityString**: The UTM authority string of the domain.\n\n### Response\n\nThe response returns the updated domain resource with the following fields:\n\n- **id**: (string) A unique identifier for the domain.\n- **name**: (string) The name of the domain.\n- **description**: (string) A brief description of the domain.\n- **createdOn**: (datetime) The date and time the domain was created.\n- **modifiedOn**: (datetime) The date and time the domain was last modified.\n- **type**: (string) Always \"FeatureCollection\".\n- **features**: (array) An array of two Feature objects:\n  1. The domain feature (padded bounding box):\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the padded spatial extent of the domain.\n     - **properties**: (object) Additional properties of the domain feature.\n       - **name**: (string) Will be \"domain\".\n       - **area**: (float) The area of the domain in square meters.\n       - **perimeter**: (float) The perimeter of the domain in meters.\n  2. The input feature:\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the original input geometry.\n     - **properties**: (object) Additional properties of the input feature.\n       - **name**: (string) Will be \"input\".\n       - **area**: (float) The area of the input geometry in square meters.\n       - **perimeter**: (float) The perimeter of the input geometry in meters.\n- **horizontalResolution**: (float) The horizontal resolution of the domain.\n- **verticalResolution**: (float) The vertical resolution of the domain.\n- **crs**: (GeoJsonCRS) The coordinate reference system of the domain.\n- **utmAuthorityString**: (string, optional) The UTM authority string if the input was projected to UTM.\n- **tags**: (array of strings) A list of tags associated with the domain.\n\n### Important Notes\n\n1. Only the **name**, **description**, and **tags** fields can be updated. If you wish to change any other fields (such as features, horizontalResolution, verticalResolution, crs, etc.), you must create a new domain resource with the desired values.\n2. The **modifiedOn** field will be automatically updated to the current date and time whenever any updatable field is changed.\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Resource not found.\"\n- **500 Internal Server Error**: An error occurred while updating the domain resource.\n  - **Detail**: \"An error occurred while updating the domain resource.\"","operationId":"update_domain","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domain_id","in":"path","required":true,"schema":{"type":"string","title":"Domain Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDomainRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Domains"],"summary":"Delete Domain","description":"# Delete Domain Endpoint\n\nThis endpoint deletes an existing domain resource based on the provided domain ID.\n\n## Endpoint: `DELETE /domains/{domain_id}`\n\n### Path Parameters\n\nTo delete a specific domain, the following path parameter is required:\n\n- **domain_id**: (string) The unique identifier of the domain to delete.\n\n### Response\n\nThe response does not return any content on a successful deletion and will have a status code of 204 No Content.\n\n### Example Request\n\n```http\nDELETE /domains/1e7d8d3c9f8b4c3ba9e7c3b4f8d7a9c1\n```\n\n### Example Response\n\n```\nHTTP/1.1 204 No Content\n```\n\n### Important Notes\n\n1. Deleting a domain is a permanent action and cannot be undone. Once a domain is deleted, it is removed from the database and cannot be recovered.\n2. Ensure that you have the correct domain ID before making the delete request to avoid accidentally deleting the wrong domain.\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Resource not found.\"\n- **500 Internal Server Error**: An error occurred while deleting the domain resource.\n  - **Detail**: \"An error occurred while deleting the domain resource.\"\n\n### Example Error Response\n\n```json\n{\n  \"detail\": \"Resource not found.\"\n}\n```\n\n### Example Internal Server Error Response\n\n```json\n{\n  \"detail\": \"An error occurred while deleting the domain resource.\"\n}\n```","operationId":"delete_domain","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domain_id","in":"path","required":true,"schema":{"type":"string","title":"Domain Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/preview":{"post":{"tags":["Domains"],"summary":"Preview Domain","description":"# Preview Domain Endpoint\n\nThis endpoint processes a CreateDomainRequest and returns a Domain object without saving the data to the database. It allows users to preview what their domain will look like before actually creating it.\n\n## Endpoint: `POST /domains/preview`\n\n### Request Body\n\nThe request body should be a GeoJSON object defined by the [GeoJSON specification (RFC 7946)](https://datatracker.ietf.org/doc/html/rfc7946). It can be either a Feature or a FeatureCollection. The structure is identical to the Create Domain endpoint's request body.\n\n#### Shared Fields\n\n- **type**: (string) Must be either \"Feature\" or \"FeatureCollection\".\n- **name**: (string, optional) The name of the domain.\n- **description**: (string, optional) A brief description of the domain.\n- **horizontalResolution**: (float) The horizontal resolution in meters of a regular grid representation of the domain.\n- **verticalResolution**: (float) The vertical resolution in meters of a regular grid representation of the domain.\n- **crs**: (GeoJsonCRS) The GeoJSON specification formatted coordinate reference system (CRS) of the domain.\n  - **type**: (string) Must be \"name\".\n  - **properties**: (object) The properties object containing the CRS details.\n    - **name**: (string) The name of the CRS, e.g., \"EPSG:4326\". Must be either 'local' or a valid authority string.\n- **tags**: (array of strings, optional) A list of tags associated with the domain.\n\n#### Feature-specific Fields\n\nWhen the input type is \"Feature\", the following additional field is required:\n\n- **geometry**: (GeoJSON Geometry object) A GeoJSON geometry object defining the spatial location of the domain.\n  - **type**: (string) Must be a valid GeoJSON type, e.g., \"Polygon\".\n  - **coordinates**: (array) An array of coordinates defining the geometry.\n\n#### FeatureCollection-specific Fields\n\nWhen the input type is \"FeatureCollection\", the following additional field is required:\n\n- **features**: (array of Feature objects) An array of Feature objects. Each Feature object should have:\n  - **type**: (string) Must be \"Feature\".\n  - **geometry**: (GeoJSON Geometry object) As described in the Feature-specific fields.\n\n### Response\n\nThe response returns a preview of the domain resource with the following fields:\n\n- **id**: (string) Will always be \"preview\" for this endpoint.\n- **name**: (string) The name of the domain.\n- **description**: (string) A brief description of the domain.\n- **createdOn**: (datetime) The current date and time.\n- **modifiedOn**: (datetime) The current date and time.\n- **type**: (string) Always \"FeatureCollection\".\n- **features**: (array) An array of two Feature objects:\n  1. The domain feature (padded bounding box):\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the padded spatial extent of the domain.\n     - **properties**: (object) Additional properties of the domain feature.\n       - **name**: (string) Will be \"domain\".\n       - **area**: (float) The area of the domain in square meters.\n       - **perimeter**: (float) The perimeter of the domain in meters.\n  2. The input feature:\n     - **type**: (string) Will be \"Feature\".\n     - **geometry**: (GeoJSON) The GeoJSON geometry representing the original input geometry.\n     - **properties**: (object) Additional properties of the input feature.\n       - **name**: (string) Will be \"input\".\n       - **area**: (float) The area of the input geometry in square meters.\n       - **perimeter**: (float) The perimeter of the input geometry in meters.\n- **horizontalResolution**: (float) The horizontal resolution of the domain.\n- **verticalResolution**: (float) The vertical resolution of the domain.\n- **crs**: (GeoJsonCRS) The coordinate reference system of the domain.\n- **utmAuthorityString**: (string, optional) The UTM authority string if the input was projected to UTM.\n- **tags**: (array of strings) A list of tags associated with the domain.\n\n### Processing\n\nThe preview endpoint performs the same processing steps as the create endpoint:\n\n1. **CRS Handling and Projection**: Projects the geometry to UTM if necessary.\n2. **Bounding Box Calculation**: Calculates the bounding box of the input geometry.\n3. **Resolution-based Padding**: Pads the bounding box to align with the specified resolution.\n4. **FeatureCollection Creation**: Creates a FeatureCollection with the padded domain and original input geometries.\n\n### Important Notes\n\n1. This endpoint does not save any data to the database. It's purely for preview purposes.\n2. The `id` field will always be \"preview\" in the response.\n3. The `createdOn` and `modifiedOn` fields will be set to the current time but are not persisted.\n4. All the same validations and checks applied in the create endpoint are also applied here, including area limitations and CONUS checks.\n\n### Error Responses\n\n- **422 Unprocessable Entity**: The spatial extent is invalid.\n  - **Detail**: \"Invalid spatial extent. The area of the spatial extent must be greater than zero meters.\"\n  - **Detail**: \"Invalid spatial extent. The area of the spatial extent must be less than sixteen square kilometers.\"\n  - **Detail**: \"Invalid spatial extent. The spatial extent must be entirely within CONUS.\"\n- **500 Internal Server Error**: An error occurred while previewing the domain resource.\n  - **Detail**: \"An error occurred while previewing the domain resource.\"","operationId":"preview_domain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDomainRequest"},"examples":{"feature collection WGS84":{"summary":"Example WGS84 FeatureCollection","description":"This example creates a domain from a FeatureCollection GeoJSON object. The CRS of the FeatureCollection is not provided so it is assumed to be 'EPSG:4326'.","value":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"coordinates":[[[-114.09957018646286,46.82933208815811],[-114.10141707482919,46.828370407248826],[-114.10010954324228,46.82690548814563],[-114.09560673134018,46.8271123684554],[-114.09592544216444,46.829058122675065],[-114.09957018646286,46.82933208815811]]],"type":"Polygon"}}],"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1}},"feature collection EPSG:5070":{"summary":"Example EPSG:5070 FeatureCollection","description":"This example creates a domain from a FeatureCollection GeoJSON object with a CRS of 'EPSG:5070'. Note that the CRS is explicitly set in the GeoJSON object.","value":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[-1378369.2301032573,2780205.4139660406],[-1377929.1090080582,2780103.7105029486],[-1377867.967897384,2780367.5735851782],[-1378308.0924563275,2780469.278380568],[-1378369.2301032573,2780205.4139660406]]]}}],"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"EPSG:5070"},"type":"name"}}},"feature WGS84":{"summary":"Example WGS84 Feature","description":"This example creates a domain from a Feature GeoJSON object with a default crs of 'EPSG:4326'.","value":{"type":"Feature","geometry":{"coordinates":[[[-114.09957018646286,46.82933208815811],[-114.10141707482919,46.828370407248826],[-114.10010954324228,46.82690548814563],[-114.09560673134018,46.8271123684554],[-114.09592544216444,46.829058122675065],[-114.09957018646286,46.82933208815811]]],"type":"Polygon"},"properties":{},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1}},"feature UTM":{"summary":"Example UTM Feature","description":"This example creates a domain from a polygon feature with UTM coordinates. Because the coordinates are in UTM, the crs field must be explicitly set according to the GeoJSON specification.","value":{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[721202.0930596117,5190283.73496937],[721065.1931226599,5190171.675898871],[721170.9221922038,5190012.585851082],[721513.4767988612,5190048.269428906],[721481.1717487838,5190263.570731599],[721202.0930596117,5190283.73496937]]]},"crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:EPSG::32611"}},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1}},"feature local":{"summary":"Example Local Feature","description":"Example of a domain with spatial data in a local coordinate system (with meter units). The crs field is set to 'local' to indicate that the coordinates are in a local coordinate system.","value":{"type":"Feature","geometry":{"coordinates":[[[0,0],[0,100],[100,100],[100,0],[0,0]]],"type":"Polygon"},"properties":{},"name":"Example","description":"This is an example domain.","horizontalResolution":2,"verticalResolution":1,"crs":{"properties":{"name":"local"},"type":"name"}}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}]}},"/v1/domains/{domainId}/features":{"get":{"tags":["Features"],"summary":"Get Features","description":"# Get Features Endpoint\n\nThis endpoint retrieves the features resource associated with a domain\nbelonging to the user based on the provided domain ID.\n\nA features resource is a container for the various types of feature\ndata that can exist with the spatial context of the domain. Currently,\nonly road and water features are supported, though other forms of feature\nwill be added soon.\n\n## Endpoint: `GET /v1/domains/{domainId}/features`\n\n### Path Parameters\n\nTo retrieve the features of a domain, the following path parameter is required:\n\n- **domainId**: (string) The unique identifier of the domain belonging to the user whose features are to be retrieved.\n\n### Response\n\nThe response returns the members of the specified features resource\nfollowing the Features schema.\n\n- **road**: (RoadFeature)\n- **water**: (WaterFeature)\n\n### Example Request\n\n```http\nGET /v1/domains/1e7d8d3c9f8b4c3ba9e7c3b4f8d7a9c1/features\n```\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Domain not found.\"\n- **500 Internal Server Error**: An error occurred while retrieving the feature resources.\n  - **Detail**: \"An error occurred while getting the feature resources.\"","operationId":"get_features","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Features"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/features/road":{"post":{"tags":["Road Feature"],"summary":"Create Road Feature","description":"# Create Road Feature\n\nThis endpoint creates a new road feature resource for a specific domain.\nRoad features represent various road attributes (e.g., type, condition) within the spatial context of a domain.\nThe road feature data can be generated using various data sources (e.g., OSM) and methods.\n\nOn resource creation, the road feature data is set to a status of \"pending\".\nThe road feature data is generated in the background using the specified methods and data sources.\nOnce the road feature data is generated and available for user access, the status is updated to \"completed\".\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/features/road\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to create the road feature.\n\n## Request Body\n\nThe request body should be a JSON object containing the following fields:\n\n- `sources` (array of strings, required): List of sources to include in the road feature. Currently, possible values include:\n- `\"OSM\"`: OpenStreetMap data source.\n\n## Response\n\nIf the request is successful, the endpoint will return a `201 Created` status code and the created road feature resource in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the road feature. Will be set to `\"pending\"` initially.\n- `createdOn` (string): The timestamp when the road feature was created.\n- `modifiedOn` (string): The timestamp when the road feature was last modified.\n- `checksum` (string): A unique checksum for the road feature resource.\n- `sources` (array of strings): The list of sources used for the road feature.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `422 Unprocessable Entity`: The road feature is not supported for local coordinate systems, or required fields are missing.\n- `429 Too Many Requests`: An error occurred while running the job due to resource exhaustion.\n\n## Usage Notes\n\n- If the domain is in a \"local\" coordinate system, the endpoint will raise a `422 Unprocessable Entity` error.\n- The endpoint will run the specified job to generate the road feature data if \"OSM\" is included in the sources.\n- The endpoint updates the road feature data in the database and logs relevant information for monitoring and debugging.","operationId":"create_road_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoadFeatureRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoadFeature"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Road Feature"],"summary":"Get Road Feature","description":"# Get Road Feature\n\nThis endpoint retrieves the details of an existing road feature resource\nfor a specific domain. Users can access the status and metadata of the\nroad feature that has been created.\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/features/road\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to retrieve the road feature.\n\n## Response\n\nIf the request is successful, the endpoint will return a `200 OK` status code and the road feature resource in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the road feature.\n- `createdOn` (string): The timestamp when the road feature was created.\n- `modifiedOn` (string): The timestamp when the road feature was last modified.\n- `checksum` (string): A unique checksum for the road feature resource.\n- `sources` (array of strings): The list of sources used for the road feature.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `404 Not Found`: The road feature for the specified domain does not exist or is empty.\n\n## Usage Notes\n\n- Ensure that the domain ID provided in the request path is valid and that the user has access to the specified domain.\n- If the road feature data is empty or invalid, the endpoint will raise a `404 Not Found` error with a detail message indicating the issue.","operationId":"get_road_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoadFeature"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Road Feature"],"summary":"Delete Road Feature","description":"# Delete Road Feature\n\nThis endpoint deletes an existing road feature resource for a specific\ndomain. This action removes the road feature data from the database and\ncancels any ongoing job execution related to the road feature.\n\n## Endpoint\n\n```\nDELETE /v1/domains/{domainId}/features/road\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to delete the road feature.\n\n## Response\n\nIf the request is successful, the endpoint will return a `204 No Content` status code. This indicates that the road feature has been successfully deleted and no content is returned in the response body.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Domain not found\"\n\n## Usage Notes\n\n- Deleting a road feature is a permanent action and cannot be undone. Ensure that you have the correct domain ID before making the delete request.\n- The endpoint will also cancel any ongoing job execution related to the road feature and remove the associated data from the cache and cloud storage.","operationId":"delete_road_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/features/water":{"post":{"tags":["Water Feature"],"summary":"Create Water Feature","description":"# Create Water Feature\n\nThis endpoint creates a new water feature resource for a specific domain.\nWater feature data represents various water-related attributes (e.g.,\nlakes, rivers) that exist within the spatial context of a domain. The\nwater feature data can be sourced from different data sources (e.g., OSM)\nand can include various details about water features in the domain.\n\nOn resource creation, the water feature data is set to a status of \"pending\".\nThe data is processed in the background, and once it is available for user\naccess, the status is updated to \"completed\".\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/features/water\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for\n  which you want to create the water feature.\n\n## Request Body\n\nThe request body should be a JSON object containing the following fields:\n\n- `sources` (array of strings, required): List of sources from which the\n  water feature data should be collected. Currently, `\"OSM\"` is a supported source.\n- Additional fields might be included based on the source. For example,\n  if the source is `\"OSM\"`, the request can specify additional parameters\n  related to how the data should be fetched.\n\n## Response\n\nIf the request is successful, the endpoint will return a `201 Created` status code\nand the created water feature resource in the response body. The response body will\nbe a JSON object with the following fields:\n\n- `status` (string): The status of the water feature. Initially set to `\"pending\"`.\n- `createdOn` (string): The timestamp when the water feature was created.\n- `modifiedOn` (string): The timestamp when the water feature was last modified.\n- `checksum` (string): A unique checksum for the water feature resource.\n- `sources` (array of strings): The list of sources used to gather the water feature data.\n\n## Error Responses\n\n- `422 Unprocessable Entity`: The domain is in a local coordinate system which\n  does not support water features.\n  - **Detail**: \"WaterFeature is not supported for local coordinate systems.\"\n- `429 Too Many Requests`: An error occurred while running the job for processing\n  the water feature data.\n  - **Detail**: An error message related to job submission.\n\n## Usage Notes\n\n- Ensure that the domain ID provided in the request path is valid and that the user\n  has access to the specified domain.\n- If using `\"OSM\"` as a source, additional parameters can be specified as needed.\n- The process of creating and updating the water feature data involves background\n  job execution, and the endpoint will return the initial resource with a pending status.","operationId":"create_water_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWaterFeatureRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaterFeature"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Water Feature"],"summary":"Get Water Feature","description":"# Get Water Feature\n\nThis endpoint retrieves the details of an existing water feature resource\nfor a specific domain. The water feature data represents various water-related\nattributes (e.g., lakes, rivers) that have been created and stored for the\ngiven domain.\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/features/water\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for\n  which you want to retrieve the water feature.\n\n## Response\n\nIf the request is successful, the endpoint will return a `200 OK` status code\nand the water feature resource in the response body. The response body will\nbe a JSON object with the following fields:\n\n- `status` (string): The status of the water feature.\n- `createdOn` (string): The timestamp when the water feature was created.\n- `modifiedOn` (string): The timestamp when the water feature was last modified.\n- `checksum` (string): A unique checksum for the water feature resource.\n- `sources` (array of strings): The list of sources used to gather the water feature data.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `404 Not Found`: The water feature for the specified domain does not exist or is empty.\n  - **Detail**: \"water feature empty.\"\n\n## Usage Notes\n\n- Ensure that the domain ID provided in the request path is valid and that the user\n  has access to the specified domain.\n- If the water feature data does not exist or is empty, a `404 Not Found` error will be raised.","operationId":"get_water_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WaterFeature"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Water Feature"],"summary":"Delete Water Feature","description":"# Delete Water Feature\n\nThis endpoint deletes an existing water feature resource for a specific domain.\nThis action removes the water feature data from the database and cancels any ongoing\njob execution related to the water feature.\n\n## Endpoint\n\n```\nDELETE /v1/domains/{domainId}/features/water\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to delete the water feature.\n\n## Response\n\nIf the request is successful, the endpoint will return a `204 No Content` status code.\nThis indicates that the water feature has been successfully deleted and no content is returned\nin the response body.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n - **Detail**: \"Domain not found\"\n- `404 Not Found`: The water feature for the specified domain does not exist.\n - **Detail**: \"Water feature not found\"\n\n## Usage Notes\n\n- Deleting a water feature is a permanent action and cannot be undone. Ensure that you have\n the correct domain ID before making the delete request.\n- The endpoint will also cancel any ongoing job execution related to the water feature and\n remove the associated data from the cache and cloud storage.","operationId":"delete_water_feature","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/inventories":{"get":{"tags":["Inventories"],"summary":"Get Inventories","description":"# Get Inventories Endpoint\n\nThis endpoint retrieves the inventories resource associated with a domain\nbelonging to the user based on the provided domain ID.\n\nAn inventories resource is a container for the various types of inventory\ndata that can exist with the spatial context of the domain. Currently,\nonly tree inventories are supported, though other forms of inventory will\nbe added soon.\n\n## Endpoint: `GET /v1/domains/{domainId}/inventories`\n\n### Path Parameters\n\nTo retrieve the inventories of a domain, the following path parameter is required:\n\n- **domainId**: (string) The unique identifier of the domain belonging to the user whose inventories are to be retrieved.\n\n### Response\n\nThe response returns the members of the specified inventories resource\nfollowing the Inventories schema.\n\n- **tree**: (TreeInventory)\n\n\n### Example Request\n\n```http\nGET /v1/domains/1e7d8d3c9f8b4c3ba9e7c3b4f8d7a9c1/inventories\n```\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Domain not found.\"\n- **500 Internal Server Error**: An error occurred while retrieving the inventory resources.\n  - **Detail**: \"An error occurred while getting the inventory resources.\"","operationId":"get_inventories","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Inventories"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/inventories/tree":{"post":{"tags":["Tree Inventory"],"summary":"Create Tree Inventory","description":"# Create Tree Inventory\n\nThis endpoint creates a new tree inventory resource for a specific domain. Tree Inventory data represents a complete forest inventory that exists within the spatial context of a domain. The tree inventory data can be generated using various data products and models that provide either national coverage (e.g., TreeMap) or local coverage.\n\nOn resource creation, the tree inventory data is set to a status of \"pending\". The tree inventory data is generated in the background using the specified method (e.g., TreeMap). Once the tree inventory data is generated and available for user access, the status is updated to \"completed\".\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/inventories/tree\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for\n  which you want to create the tree inventory.\n\n## Request Body\n\nThe request body should be a JSON object containing the following fields:\n\n- `sources` (array of strings, required): List of data sources to be used for building the tree inventory. Currently, only one data source at a time is supported. Possible values are:\n  - `\"TreeMap\"`: Indicates that the tree inventory should be created using the TreeMap raster product. This approach generates a tree inventory with national coverage.\n\n- `modifications` (array of objects, optional): List of modifications to apply to the tree inventory data. Maximum 1000 modifications allowed.\n\n- `treatments` (array of objects, optional): List of silvicultural treatments to apply to the tree inventory. Maximum 1000 treatments allowed.\n\n- `featureMasks` (array of strings, optional): List of Features to mask tree inventory data.\n\n### TreeMap Source Configuration\n\nIf `\"TreeMap\"` is included in the `sources`, the request body can include additional configurations for `TreeMap`:\n\n- `TreeMap` (object, optional): Advanced configurations for the TreeMap data source.\n  - `version` (string, optional): The version of TreeMap to use. Default is `\"2016\"`. Possible values are:\n    - `\"2014\"`: Use the 2014 version of TreeMap.\n    - `\"2016\"`: Use the 2016 version of TreeMap.\n  - `seed` (integer, optional): The random seed to use for generating the tree inventory. If not provided, a random seed will be generated.\n\n### Treatments\n\nThe `treatments` field is an array of treatment objects. Each treatment object represents a silvicultural treatment to be applied to the tree inventory. Currently, there are two types of treatment types available:\n\n1. Proportional Thinning\n2. Directional Thinning\n\n#### Proportional Thinning\n\n- `method`: \"proportionalThinning\" (string, required)\n- `targetMetric`: \"basalArea\" (string, required)\n- `targetValue`: float (required)\n  - Unit: square meters per hectare (m²/ha)\n  - Represents the target basal area after thinning\n\n#### Directional Thinning\n\n- `method`: \"directionalThinning\" (string, required)\n- `direction`: (string, required)\n  - Possible values: \"below\" or \"above\"\n  - Indicates whether to thin from below (smallest to largest) or above (largest to smallest)\n- `targetMetric`: (string, required)\n  - Possible values: \"diameter\" or \"basalArea\"\n- `targetValue`: float (required)\n  - Units of the targetValue quantity depends on the targetMetric:\n    - For \"diameter\": centimeters (cm)\n    - For \"basalArea\": square meters per hectare (m²/ha)\n  - Represents the threshold for thinning (diameter) or the target basal area after thinning\n\nNote: The order of treatments in the array determines the sequence in which they will be applied to the tree inventory.\n\n## Response\n\nIf the request is successful, the endpoint will return a `201 Created` status code and the created tree inventory resource in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the tree inventory. Will be set to `\"pending\"` initially.\n- `createdOn` (string): The timestamp when the tree inventory was created.\n- `modifiedOn` (string): The timestamp when the tree inventory was last modified.\n- `checksum` (string): A unique checksum for the tree inventory resource.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `422 Unprocessable Entity`: The request body is invalid or missing required fields.\n- `429 Too Many Requests`: An error occurred while submitting the job due to resource exhaustion.","operationId":"create_tree_inventory","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTreeInventoryRequest"},"examples":{"treemap_defaults":{"value":{"sources":["TreeMap"]},"summary":"TreeMap example with defaults","description":"This example creates a tree inventory using data from the TreeMap raster product. In this example, the user only provides 'TreeMap' as an element in the 'sources' list. The 'TreeMap' source is then populated with default values for the 'version' and 'seed' fields."},"treemap_advanced":{"value":{"sources":["TreeMap"],"TreeMap":{"version":"2014","seed":123456789}},"summary":"TreeMap example with advanced options","description":"This example creates a tree inventory using data from the TreeMap raster product. In this example, the user provides 'TreeMap' as an element in the 'sources' list. The 'TreeMap' source is then populated with the specified 'version' and 'seed' values."},"treemap_with_feature_masks":{"value":{"sources":["TreeMap"],"featureMasks":["road","water"]},"summary":"TreeMap example with feature masks","description":"This example creates a tree inventory using data from the TreeMap raster product. In this example, the user provides 'TreeMap' as an element in the 'sources' list. The 'TreeMap' source is then populated with default values for the 'version' and 'seed' fields. The 'featureMasks' list is also provided with 'road' and 'water' elements to mask out these features from the inventory."},"treemap_ht_modification":{"value":{"sources":["TreeMap"],"modifications":[{"conditions":{"attribute":"HT","operator":"gt","value":20},"actions":{"attribute":"HT","modifier":"multiply","value":0.9}}]},"summary":"TreeMap height modification example","description":"This example creates a tree inventory using data from the TreeMap raster product. It applies a modification to reduce the height of all trees taller than 20 meters by 10%."},"treemap_dia_modification":{"value":{"sources":["TreeMap"],"modifications":[{"conditions":{"attribute":"DIA","operator":"lt","value":20.32},"actions":{"attribute":"all","modifier":"remove"}}]},"summary":"TreeMap remove trees modification example","description":"This example creates a tree inventory using data from the TreeMap raster product. It applies a modification to remove all trees with a diameter at breast height less than 20.32cm (8 inches)."},"treemap_proportional_thinning":{"value":{"sources":["TreeMap"],"treatments":[{"method":"proportionalThinning","targetMetric":"basalArea","targetValue":25}]},"summary":"TreeMap proportional thinning example","description":"This example creates a tree inventory using data from the TreeMap raster product. It applies a silvicultural treatment to thin the forest to 25 square meters of basal area per hectare."},"treemap_directional_thinning":{"value":{"sources":["TreeMap"],"treatments":[{"method":"directionalThinning","direction":"below","targetMetric":"diameter","targetValue":30.48}]},"summary":"TreeMap directional thinning example","description":"This example creates a tree inventory using data from the TreeMap raster product. It applies a silvicultural treatment to remove from below all trees with a diameter at breast height less than 30.48cm (12 inches)."}}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TreeInventory"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Tree Inventory"],"summary":"Get Tree Inventory","description":"# Get Tree Inventory\n\nThis endpoint retrieves the details of an existing tree inventory\nresource for a specific domain. Users can access the status and metadata\nof the tree inventory that has been created.\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/inventories/tree\n```\n\n### Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to retrieve the tree inventory.\n\n### Response\n\nIf the request is successful, the endpoint will return a `200 OK` status code and the tree inventory resource in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the tree inventory. Possible values are \"pending\", \"processing\", \"completed\", and \"failed\".\n- `createdOn` (string): The timestamp when the tree inventory was created.\n- `modifiedOn` (string): The timestamp when the tree inventory was last modified.\n- `checksum` (string): A unique checksum for the tree inventory resource.\n- `treeInventory` (object): The tree inventory data, as provided in the request body when the tree inventory was created.\n\n### Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Domain not found\"\n- `404 Not Found`: The tree inventory for the specified domain does not exist.\n  - **Detail**: \"Tree inventory not created\"","operationId":"get_tree_inventory","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TreeInventory"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Tree Inventory"],"summary":"Delete Tree Inventory","description":"# Delete Tree Inventory\n\nThis endpoint deletes an existing tree inventory resource for a specific\ndomain. This action removes the tree inventory data from the database and\ncancels any ongoing job execution related to the tree inventory.\n\n## Endpoint\n\n```\nDELETE /v1/domains/{domainId}/inventories/tree\n```\n\n### Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to delete the tree inventory.\n\n### Response\n\nIf the request is successful, the endpoint will return a `204 No Content` status code. This indicates that the tree inventory has been successfully deleted and no content is returned in the response body.\n\n### Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Domain not found\"\n\n### Usage Notes\n\n- Deleting a tree inventory is a permanent action and cannot be undone. Ensure that you have the correct domain ID before making the delete request.\n- The endpoint will also cancel any ongoing job execution related to the tree inventory and remove the associated data from the cache and cloud storage.","operationId":"delete_tree_inventory","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/inventories/tree/exports/{exportFormat}":{"post":{"tags":["Tree Inventory"],"summary":"Create Tree Inventory Export","description":"# Create Tree Inventory Export\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/inventories/tree/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint initiates the creation of an export file for the tree inventory data of a specific domain. The data can be exported in various formats including CSV, Parquet, and GeoJSON. The export process runs in the background.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to create the tree inventory export.\n- `exportFormat` (string, required): The format in which to export the tree inventory data. Possible values are:\n  - `\"csv\"`: Export the data in CSV format.\n  - `\"parquet\"`: Export the data in Parquet format.\n  - `\"geojson\"`: Export the data in GeoJSON format.\n\n## Response\n\nIf the request is successful, the endpoint will return a `201 Created` status code and the export request details in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the export request. Will be set to `\"pending\"` initially.\n- `createdOn` (string): The timestamp when the export request was created.\n- `modifiedOn` (string): The timestamp when the export request was last modified.\n- `expiresOn` (string): The timestamp when the export request will expire (7 days from creation).\n- `signedUrl` (string, optional): The signed URL to download the exported file. This field will be `null` initially.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `422 Unprocessable Entity`: The export format is invalid or the request cannot be processed.\n\n## Usage Notes\n\n- Ensure that the tree inventory for the specified domain is completed before initiating an export.\n- The export request will be processed in the background. Use the GET endpoint to check the status.","operationId":"create_tree_inventory_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"enum":["csv","parquet","geojson"],"type":"string","title":"Exportformat"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Tree Inventory"],"summary":"Get Tree Inventory Export","description":"# Get Tree Inventory Export\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/inventories/tree/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint retrieves the details of a tree inventory export request for a specific domain. Users can check the status, metadata, and download URL of the export request.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to retrieve the tree inventory export.\n- `exportFormat` (string, required): The format of the export request. Possible values are:\n  - `\"csv\"`: Retrieve the CSV export request details.\n  - `\"parquet\"`: Retrieve the Parquet export request details.\n  - `\"geojson\"`: Retrieve the GeoJSON export request details.\n\n## Response\n\nIf the request is successful, the endpoint will return a `200 OK` status code and the export request details in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the export request. Possible values are `\"pending\"`, `\"processing\"`, `\"completed\"`, `\"failed\"`, and `\"expired\"`.\n- `createdOn` (string): The timestamp when the export request was created.\n- `modifiedOn` (string): The timestamp when the export request was last modified.\n- `expiresOn` (string): The timestamp when the export request will expire.\n- `signedUrl` (string, optional): The signed URL to download the exported file. This will be `null` if the status is not `\"completed\"`.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `404 Not Found`: The specified export request does not exist.\n\n## Usage Notes\n\n- Once the export is completed, the `status` will change to `\"completed\"`, and the `signedUrl` field will be populated with a URL to download the export file.\n- The signed URL will be valid for 7 days from the creation of the export request, as indicated by the `expiresOn` field.\n- To download the exported file, make a GET request to the provided `signedUrl` once it's available.\n- If the current time is past the `expiresOn` timestamp, the `status` will change to `\"expired\"`, and the `signedUrl` will be set to `null`.\n- There is no separate download endpoint. Use the `signedUrl` provided in the export details to download the file directly.\n\n## Example Workflow\n\n1. Create an export request using the POST endpoint.\n2. Periodically check the status of the export using the GET endpoint.\n3. Once the status is `\"completed\"`, retrieve the `signedUrl` from the export details.\n4. Use the `signedUrl` to download the exported file within 7 days of the export creation.","operationId":"get_tree_inventory_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"enum":["csv","geojson","parquet"],"type":"string","title":"Exportformat"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/grids":{"get":{"tags":["Grids"],"summary":"Get Grids","description":"# Get Grids Endpoint\n\nThis endpoint retrieves the grids resource associated with a domain\nbelonging to the user based on the provided domain ID.\n\nA grids resource is a container for the various types of gridded\ndata that can exist with the spatial context of the domain. Currently,\ntree, surface, topography, and feature grids are supported.\n\n## Endpoint: `GET /v1/domains/{domainId}/grids`\n\n### Path Parameters\n\nTo retrieve the grids of a domain, the following path parameter is required:\n\n- **domainId**: (string) The unique identifier of a domain belonging to the user.\n### Response\n\nThe response returns the members of the specified grids resource following\nthe Grids schema.\n\n- **tree**: (TreeGrid)\n- **surface**: (SurfaceGrid)\n- **topography**: (TopographyGrid)\n- **feature**: (FeatureGrid)\n\n### Example Request\n\n```http\nGET /v1/domains/1e7d8d3c9f8b4c3ba9e7c3b4f8d7a9c1/grids\n```\n\n### Error Responses\n\n- **404 Not Found**: The specified domain does not exist or the user does not have access to it.\n  - **Detail**: \"Domain not found.\"\n- **500 Internal Server Error**: An error occurred while retrieving the grid resources.\n  - **Detail**: \"An error occurred while getting the grid resources.\"","operationId":"get_grids","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Grids"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/grids/exports/{exportFormat}":{"post":{"tags":["Grids"],"summary":"Create Grid Export","description":"# Create Grid Export\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/grids/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint initiates the creation of an export file for the grid data of a specific domain to the specified format.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format in which to export the grid data. Possible values are:\n  - `\"zarr\"`: Export the data in the compressed zarr format.\n  - `\"QUIC-Fire\"`: Exports the grid data to the set of input files required by the QUIC-Fire model.\n\n### QUIC-Fire Format\n\nFastFuels supports grid exports directly to input files for the QUIC-Fire\nmodel. The export format is a zip file containing the following files:\n- treesrhof.dat\n- treesmoist.dat\n- treesdepth.dat\n- topo.dat\n\nThe exporter attempts to build the required files from the available grid data.\n\nThe following examples demonstrate some of the possible behavior:\n- If a \"topography\" grid is not available, the exporter will not include topo.dat in the export.\n- If the \"surface\" grid is present, but the \"tree\" grid is not, the exporter will include treesrhof.dat, treesmoist.dat, and treesdepth.dat in the export as a 2D input.\n- If the \"tree\" grid is present, but the \"surface\" grid is not, the exporter will include treesrhof.dat, treesmoist.dat, and treesdepth.dat in the export as a 3D input.\n- If both the \"surface\" and \"tree\" grids are present, the exporter will include treesrhof.dat, treesmoist.dat, and treesdepth.dat in the export as a 3D input with the surface grid as the bottom layer with respect to the z-axis.\n\n## Response\n\nIf successful, returns a `201 Created` status code and a JSON object with:\n\n- `status` (string): Initially set to `\"pending\"`.\n- `createdOn` (string): Timestamp of export request creation.\n- `modifiedOn` (string): Timestamp of last modification.\n- `expiresOn` (string): Expiration timestamp (7 days from creation).\n- `signedUrl` (string, optional): Initially `null`, populated when export is completed.\n\n## Error Responses\n\n- `404 Not Found`: Domain not found or user lacks access.\n- `422 Unprocessable Entity`: Invalid export format or request.\n- `429 Too Many Requests`: Error submitting the export job due to resource exhaustion.\n\n## Usage Notes\n\n- Ensure the grid data for the domain are completed before initiating an export.\n- Check the export status using the GET endpoint.\n- Use the `signedUrl` to download the file once available.","operationId":"create_grid_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"enum":["zarr","QUICFire"],"type":"string","title":"Exportformat"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Grids"],"summary":"Get Grid Export","description":"# Get Grid Export\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/grids/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint retrieves the details of a grid export request for a specific domain.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format of the export. Possible values are:\n    - `\"zarr\"`: Export the data in the compressed zarr format.\n    - `\"QUICFire\"`: Exports the grid data to the set of input files required by the QUIC-Fire model.\n\n## Response\n\nIf successful, returns a `200 OK` status code and a JSON object with:\n\n- `status` (string): Current status of the export (`\"pending\"`, `\"processing\"`, `\"completed\"`, `\"failed\"`, or `\"expired\"`).\n- `createdOn` (string): Timestamp of export request creation.\n- `modifiedOn` (string): Timestamp of last modification.\n- `expiresOn` (string): Expiration timestamp.\n- `signedUrl` (string, optional): URL to download the exported file, if status is `\"completed\"`.\n\n## Error Responses\n\n- `404 Not Found`: Domain or export request not found.\n\n## Usage Notes\n\n- Use this endpoint to check the status of an export request.\n- When status is `\"completed\"`, use the `signedUrl` to download the file.\n- The signed URL expires 7 days after creation.","operationId":"get_grid_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"enum":["zarr","QUICFire"],"type":"string","title":"Exportformat"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/grids/tree":{"post":{"tags":["Tree Grid"],"summary":"Create Tree Grid","description":"# Create Tree Grid\n\nThis endpoint creates a new tree grid resource for a specific domain.\nTree grid data represents various 3D gridded tree attribute (e.g.,\nbulk density, fuel moisture, SPCD) data that exists within the spatial\ncontext of a domain. Tree grid data is typically generated to create\ninputs to 3D fire behavior models such as QUIC-Fire or FDS.\n\nOn resource creation, the tree grid data is set to a status of \"pending\".\nThe tree grid data is generated in the background using the specified\nmethod and data sources. Once the tree grid data is generated and\navailable for user access, the status is updated to \"completed\".\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/grids/tree\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for\n  which you want to create the tree grid.\n\n## Request Body\n\nThe request body should be a JSON object containing the following fields:\n\n- `attributes` (array of strings, required): List of attributes to include in the tree grid data. Attributes represent the an additional dimension in the 3D gridded data. Possible values are:\n  - `\"bulkDensity\"`\n  - `\"fuelMoisture\"`\n  - `\"SPCD\"`\n\n### Attribute Descriptions and Sources\n\n- `bulkDensity` (kg/m³): The mass of the tree fuel per unit volume of the occupied cell.\n- `foliarMoisture` (%): Live foliar moisture content of the occupied cell.\n- `SPCD` (unitless): The FIA species code of the occupied cell.\n\nEach attribute can be sourced from different data sources. By default, the system will use pre-defined data sources to acquire data for the specified attributes. However, if you want to specify additional information for how to acquire an attribute, you can provide detailed instructions in the request body.\n\nTo specify additional information for an attribute, add a field with the attribute name to the request body. For example:\n\n```json\n{\n    \"attributes\": [\"bulkDensity\", \"fuelMoisture\"],\n    \"bulkDensity\": {\n        \"source\": \"TreeInventory\",\n        \"biomassModel\": \"NSVB\"\n    },\n    \"fuelMoisture\": {\"source\": \"uniform\", \"value\": 175}\n}\n```\n\nIn this example, the `bulkDensity` attribute is sourced from the Tree Inventory using the NSVB biomass model, and the `fuelMoisture` attribute is set to a uniform value of 175%.\n\nThe general form of this construction is as follows:\n\n- `bulkDensity`, `fuelMoisture`, `SPCD` (object, optional): The data source for the respective attribute. The structure of these objects depends on the source specified.\n\n#### Uniform Source\n\nIf the source is `\"uniform\"`, the object should have the following fields:\n\n- `value` (float, required): The uniform value for the attribute.\n\n#### Tree Inventory Source\n\nIf the source is `\"TreeInventory\"`, and the attribute `\"bulkDensity\"`, then we need to estimate a biomass. The biomass allometry model used is specified with the following field:\n\n- `biomassModel` (string, required for bulkDensity): The biomass model to use. Possible values are:\n  - `\"Jenkins\"`\n  - `\"NSVB\"` (default)\n\nNote: The `biomassModel` field only applies to the `bulkDensity` attribute and is not used for other attributes such as `SPCD`.\n\n## Response\n\nIf the request is successful, the endpoint will return a `201 Created` status code and the created tree grid resource in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the tree grid. Will be set to `\"pending\"` initially.\n- `createdOn` (string): The timestamp when the tree grid was created.\n- `modifiedOn` (string): The timestamp when the tree grid was last modified.\n- `checksum` (string): A unique checksum for the tree grid resource.\n- `attributes` (array of strings): The list of attributes included in the tree grid.\n- `bulkDensity`, `fuelMoisture`, `SPCD` (object): The data source information for the respective attribute.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `404 Not Found`: The tree inventory for the specified domain does not exist.\n- `400 Bad Request`: The tree inventory status is not \"completed\".\n- `422 Unprocessable Entity`: The request body is invalid or required fields are missing.","operationId":"create_tree_grid","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTreeGridRequest"},"examples":{"default_attributes":{"summary":"Default attributes example","value":{"attributes":["bulkDensity","fuelMoisture"]},"description":"This example creates a tree grid with the default attributes. Default configurations and data sources are used for each provided attribute."},"defaults_with_attributes":{"summary":"Default attributes with explicit fields example","value":{"attributes":["bulkDensity","fuelMoisture"],"bulkDensity":{"source":"TreeInventory"},"fuelMoisture":{"source":"uniform","value":100}},"description":"This example creates a tree grid with the default attributes. Default configurations and data sources are provided for each attribute. These additional fields are equivalent to the default values. Providing them explicitly is optional."},"uniform_fuel_moisture":{"summary":"Uniform fuel moisture example","value":{"attributes":["fuelMoisture"],"fuelMoisture":{"source":"uniform","value":175}},"description":"This example creates a tree grid with a uniform fuel moisture value of 175%."}}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TreeGrid"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Tree Grid"],"summary":"Get Tree Grid","description":"# Get Tree Grid\n\nThis endpoint retrieves the details of an existing tree grid resource\nfor a specific domain. Users can access the status and metadata of the\ntree grid that has been created.\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/grids/tree\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for\n  which you want to retrieve the tree grid.\n\n## Response\n\nIf the request is successful, the endpoint will return a `200 OK` status code and the tree grid resource in the response body. The response body will be a JSON object with the following fields:\n\n- `status` (string): The status of the tree grid.\n- `createdOn` (string): The timestamp when the tree grid was created.\n- `modifiedOn` (string): The timestamp when the tree grid was last modified.\n- `checksum` (string): A unique checksum for the tree grid resource.\n- `attributes` (array of strings): The list of attributes included in the tree grid.\n- `bulkDensity`, `fuelMoisture`, `SPCD` (object): The data source information for the respective attribute.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `404 Not Found`: The tree grid for the specified domain does not exist.","operationId":"get_tree_grid","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TreeGrid"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Tree Grid"],"summary":"Delete Tree Grid","description":"# Delete Tree Grid\n\nThis endpoint deletes an existing tree grid resource for a specific\ndomain. This action removes the tree grid data from the database and\ncancels any ongoing job execution related to the tree grid.\n\n## Endpoint\n\n```\nDELETE /v1/domains/{domainId}/grids/tree\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for which you want to delete the tree grid.\n\n## Response\n\nIf the request is successful, the endpoint will return a `204 No Content` status code. This indicates that the tree grid has been successfully deleted and no content is returned in the response body.\n\n## Error Responses\n\n- `404 Not Found`: The specified domain does not exist or the user does not have access to it.\n- `404 Not Found`: The tree grid for the specified domain does not exist.\n\n## Usage Notes\n\n- Deleting a tree grid is a permanent action and cannot be undone. Ensure that you have the correct domain ID before making the delete request.\n- The endpoint will also cancel any ongoing job execution related to the tree grid and remove the associated data from the cache and cloud storage.","operationId":"delete_tree_grid","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/grids/tree/attribute":{"get":{"tags":["Tree Grid"],"summary":"Get Tree Grid Attribute Metadata","description":"# Get Tree Grid Attribute Metadata\n\nRetrieves metadata about the structure of the tree grid and its attributes for a given domain.\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/grids/tree/attributes\n```\n\n## Path Parameters\n\n- `domainId` (string, required): Unique identifier of the domain.\n\n## Response\n\n### Success Response (200 OK)\n\nReturns a JSON response containing:\n\n- `shape`: Dimensions of the grid data.\n- `dimensions`: Names of each dimension.\n- `chunks`: Number of chunks in each dimension.\n- `chunkShape`: Shape of each chunk.\n- `attributes`: Detailed information about each available attribute.\n\n### Error Responses\n\n- 404 Not Found: Tree grid not found or not accessible.\n- 422 Unprocessable Entity: Tree grid not in 'completed' status.","operationId":"Get Tree Grid Attribute Metadata","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GridAttributeMetadataResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/grids/tree/exports/{exportFormat}":{"post":{"tags":["Tree Grid"],"summary":"Create Tree Grid Export","description":"# Create Tree Grid Export\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/grids/tree/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint initiates the creation of an export file for the tree grid data of a specific domain in the zarr compressed format. The export process runs in the background.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format for the export. Currently, only `\"zarr\"` is supported.\n\n## Response\n\nIf successful, returns a `201 Created` status code and a JSON object with:\n\n- `status` (string): Initially set to `\"pending\"`.\n- `createdOn` (string): Timestamp of export request creation.\n- `modifiedOn` (string): Timestamp of last modification.\n- `expiresOn` (string): Expiration timestamp (7 days from creation).\n\n## Error Responses\n\n- `404 Not Found`: Domain not found or user lacks access.\n- `422 Unprocessable Entity`: Invalid export format or request.\n- `429 Too Many Requests`: Error submitting the export job due to resource exhaustion.\n\n## Usage Notes\n\n- Ensure the tree grid for the domain is completed before initiating an export.\n- Check the export status using the GET endpoint.","operationId":"create_tree_grid_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"enum":["zarr"],"const":"zarr","type":"string","title":"Exportformat"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Tree Grid"],"summary":"Get Tree Grid Export","description":"# Get Tree Grid Export\n\n## Endpoint\n\n```\nGET /v1/domains/{domainId}/grids/tree/exports/{exportFormat}\n```\n\n## Description\n\nThis endpoint retrieves the details of a tree grid export request for a specific domain.\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain.\n- `exportFormat` (string, required): The format of the export. Currently, only `\"zarr\"` is supported.\n\n## Response\n\nIf successful, returns a `200 OK` status code and a JSON object with:\n\n- `status` (string): Current status of the export (`\"pending\"`, `\"processing\"`, `\"completed\"`, `\"failed\"`, or `\"expired\"`).\n- `createdOn` (string): Timestamp of export request creation.\n- `modifiedOn` (string): Timestamp of last modification.\n- `expiresOn` (string): Expiration timestamp.\n- `signedUrl` (string, optional): URL to download the exported file, if status is `\"completed\"`.\n\n## Error Responses\n\n- `404 Not Found`: Domain or export request not found.\n\n## Usage Notes\n\n- Use this endpoint to check the status of an export request.\n- When status is `\"completed\"`, use the `signedUrl` to download the file.\n- The signed URL expires 7 days after creation.","operationId":"get_tree_grid_export","security":[{"APIKeyHeader":[]},{"HTTPBearer":[]}],"parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","title":"Domainid"}},{"name":"exportFormat","in":"path","required":true,"schema":{"enum":["zarr"],"const":"zarr","type":"string","title":"Exportformat"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Export"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/domains/{domainId}/grids/surface":{"post":{"tags":["Surface Grid"],"summary":"Create Surface Grid","description":"# Create Surface Grid\n\nThis endpoint creates a new surface grid resource for a specific domain.\nSurface grid data represents various surface attributes (e.g., fuel load,\nfuel height, fuel moisture) that exist within the spatial context of a domain.\nThe surface grid data can be generated using a variety of data sources\n(e.g., LANDFIRE, uniform values) and interpolation methods.\n\nOn resource creation, the surface grid data is set to a status of \"pending\".\nThe surface grid data is generated in the background using the specified\nmethod and data sources. Once the surface grid data is generated and\navailable for user access, the status is updated to \"completed\".\n\n## Endpoint\n\n```\nPOST /v1/domains/{domainId}/grids/surface\n```\n\n## Path Parameters\n\n- `domainId` (string, required): The unique identifier of the domain for\n  which you want to create the surface grid.\n\n## Request Body\n\nThe request body should be a JSON object containing the following fields:\n\n- `attributes` (array of strings, required): List of attributes to include in the surface grid. Possible values are:\n  - `\"fuelLoad\"`\n  - `\"fuelDepth\"`\n  - `\"fuelMoisture\"`\n  - `\"SAVR\"`\n  - `\"FBFM\"`\n\n### Attribute Descriptions, Units, and Sources\n\n- `fuelLoad` (kg/m²): The mass of the fuel per unit area.\n- `fuelDepth` (m): The depth of the surface fuel bed above the ground.\n- `fuelMoisture` (unitless): The moisture content of the fuel.\n- `SAVR` (1/m): Surface Area to Volume Ratio\n- `FBFM` (unitless): Fire Behavior Fuel Model\n\nEach attribute can
[...]
